@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;

.s-property-list {
	overflow: hidden;
}

@if $LITE {
	.s-property-list {
		margin-bottom: -10px;
	}
	
	.s-property-list .s-property {
		margin: 10px 10px 0 0;
	}
}

.s-property {
	display: block;
	float: left;
	color: $secondary-text-color;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	background: $content-bg;
	max-width: 100%;
	border: 1px solid $label-border-color;
	text-overflow: ellipsis;
	box-sizing: border-box;

	@if $LITE {
		padding: 6px 32px 6px 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		margin-top: 0;
	} @else {
		padding: 1px 17px 1px 1px;
		margin: 1px 1px 0 0;
	}
}
