@use "Common/Theme" as *;
.about_close {
	position: absolute;
	top: 0;
	right: 0;
}

.about_arr_bottom {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 5px;
}

.about_pic {
	float: left;
	text-align: center;
	width: 52px;
	margin-top: 2px;
}