@use "Common/Theme" as *;
.about_separator {
	text-align: center;
	position: relative;
	font-weight: bold;
}

.about_separator > span {
	background: $content-bg;
	padding: 0 5px;
	position: relative;
	margin: 0 10px;
	display: inline-block;
}

.about_separator:before {
	content: '';
	display: block;
	border-bottom: 1px solid $separator-color;
	left: 0;
	right: 0;
	top: 50%;
	position: absolute;
}

.about_close {
	position: absolute;
	top: 2px;
	right: 2px;
}

.about_arr_bottom {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 8px;
}

.about_pic {
	float: left;
	text-align: center;
	width: 52px;
	margin-top: 2px;
}
