@use "Common/Theme" as *;

.smiles-menu {
	position: relative;
	z-index: 1000;
	border: 1px solid $input-border;
	clear: both;
	margin-bottom: 1px;

	&.defer {
		display: block
	}

	&__header {
		display: table;
		width: 100%;
	}

	&__back {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid $separator-color;
	}

	&__tab {
		display: table-cell;
		cursor: pointer;
		text-align: center;
		padding: 8px;
		width: 50%;
		color: $secondary-text-color;
		background: $switch-unselected-bg;
		font-weight: bold;
		border-bottom: 1px solid $default-border-color;

		&--is-active {
			color: $default-text-color;
			background: $switch-selected-bg;
			border-bottom: 1px solid transparent;
		}
	}

	&__close {
		position:absolute;
		top: 50%;
		right: 8px;
		margin-top: -8px;
		margin-bottom: 0;
		cursor: pointer
	}

	&__body {
		background: $content-bg;
		padding: 10px;
	}

	&__list {
		max-width: 500px;
		margin: 0 auto;
		font-size: 0;
		text-align: center;
	}

	&__list-item {
		border: 1px solid $input-border;
		display: inline-block;
		margin: 1px;
		overflow: hidden;
		text-align: center;

		img {
			cursor: pointer;
			max-width: 100%;
			height: auto;
			vertical-align: middle
		}
	}

	&__categories {
		font-size: 0;
		max-width: 400px;
		margin: 0 auto;
	}

	&__category {
		font-size: 1rem;
		display: inline-block;
		width: 50%;
	}

	&__category-title {
		display: inline-block;
		text-align: center;
	}

	&__category-icon {
		display: inline-block;
	}
}

.stickers_list {
	max-width: 500px;
	margin: 0 auto;
	font-size: 0
}
.stickers_list__item {
	border:1px solid $default-border-color;
	display:inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 1px;
	overflow: hidden
}
.stickers_list img {
	max-width: 100%;
	height: auto;
	vertical-align: middle
}
.stickers_list img {
	cursor: pointer
}
.smiles_menu-back {
	clear: both;
	border-top: 1px solid $separator-color;
}
