@use "Common/Theme" as *;
@use "spacepack/build/variables" as *;

.rating__circle {
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    
	background: $content-bg;
	color: $default-text-color;
	border: 2px solid $progress-bar-runner-bg;
	
	display: inline-block;
	padding: 0.5em 0;
	height: 1em;
	width: 2em;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	position: relative;
	z-index: 1;
	font-size: 12px
}

.rating__circle-inline {
    margin-left: 5px;
}

.rating__widget {
	padding-bottom: 5px;
	max-width: 100%;
	overflow: hidden;
}

.rating__widget-align {
    margin-left: -7px;
}

.touch_light .rating__widget-align {
    margin-left: 0;
}

.rating__widget table {
	max-width: 250px;
	font-size: 12px
}

.touch_light .rating__widget table {
	max-width: 180px
}

.rating__widget .progress-item {
	height: 1.2em;
	margin-left: -4px;
	position: relative;
	z-index: 0;
	font-size: 13px;
}

.rating__widget .progress-item__runner {
	height: 1.2em;
}

.rating__widget .progress-item__label {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	vertical-align: middle;
	text-align: center;
	color: $progress-bar-text-color;
	@if ($DARK_MODE) {
		text-shadow: $progress-bar-text-shadow;
	}
	line-height: 1.2em
}

.rating__incr {
	padding-left: 5px
}

@media all and (max-width: 240px) {
	.touch .progress-item__label {
		display: none
	}
}
