#telemetry .dropdown-menu__wrap {
	max-width: 350px;
	left: auto;
	right: auto;
}

.telemetry {
	margin-left: -30px;
	padding: 10px;
	background: #dddcdc;
	color: #323232;
}

.checkpoint {
	margin-left: 30px;
	padding: 5px;
	padding-right: 0px;
	overflow: hidden
}

.checkpoint-expand {
	display: inline-block;
	border-radius: 100%;
	border: 1px solid grey;
	line-height: 20px;
	font-size: 16px;
	width: 20px;
	text-align: center;
	background: #fff;
}

.checkpoint-header[data-disabled="1"] .checkpoint-expand {
	opacity: 0
}

.checkpoint-expand_loading {
	background: lightgray;
}

.checkpoint-expand_err {
	border: 1px solid red;
}

.checkpoint-value {
	float: right;
	margin: 0 5px;
	text-align: right;
	width: 6em;
	text-align: center;
}

.checkpoint-value.long {
	width: 12em
}

.checkpoint-header {
	cursor: pointer;
	user-select: none;
}

.checkpoint:hover > .checkpoint-header {
	background: #fbb450
}

.telemetry-header {
	margin-left: 30px;
	padding-bottom: 5px;
	overflow: hidden;
}

.telemetry-header .checkpoint-value {
	cursor: pointer;
	user-select: none;
}

.telemetry-header .checkpoint-value:hover {
	color: #005580
}
