@use "Common/Utils" as *;

@include define-icon("ico", "a");
@include define-icon("ico", "add");
@include define-icon("ico", "magic");
@include define-icon("ico", "magic_blue");
@include define-icon("ico", "magic_darkblue");
@include define-icon("ico", "add_blue");
@include define-icon("ico", "add_darkblue");
@include define-icon("ico", "alert_red");
@include define-icon("ico", "anonym");
@include define-icon("ico", "att");
@include define-icon("ico", "att_red");
@include define-icon("ico", "ban_list");
@include define-icon("ico", "mute");
@include define-icon("ico", "befriends");
@include define-icon("ico", "befriends_blue");
@include define-icon("ico", "befriends_darkblue");
@include define-icon("ico", "befriends_on");
@include define-icon("ico", "befriends_on_green");
@include define-icon("ico", "block_black");
@include define-icon("ico", "clock");
@include define-icon("ico", "checked");
@include define-icon("ico", "close") {
	cursor: pointer;
	&:hover {
		@include use-icon("ico", "close_red");
	}
}
@include define-icon("ico", "invite_darkblue");
@include define-icon("ico", "com");
@include define-icon("ico", "comm");
@include define-icon("ico", "comm_darkblue");
@include define-icon("ico", "complaint");
@include define-icon("ico", "complaint_blue");
@include define-icon("ico", "diary");
@include define-icon("ico", "diary_darkblue");
@include define-icon("ico", "down");
@include define-icon("ico", "down_blue");
@include define-icon("ico", "download2");
@include define-icon("ico", "download2_white");
@include define-icon("ico", "download2_blue");
@include define-icon("ico", "download2_darkblue");
@include define-icon("ico", "download2_green");
@include define-icon("ico", "dir_create_blue");
@include define-icon("ico", "edit");
@include define-icon("ico", "edit_blue");
@include define-icon("ico", "edit_darkblue");
@include define-icon("ico", "enter");
@include define-icon("ico", "enter_blue");
@include define-icon("ico", "exit");
@include define-icon("ico", "exit_blue");
@include define-icon("ico", "exit_white");
@include define-icon("ico", "extended");
@include define-icon("ico", "eye");
@include define-icon("ico", "eye_darkblue");
@include define-icon("ico", "fav");
@include define-icon("ico", "fav_darkblue");
@include define-icon("ico", "fav_blue");
@include define-icon("ico", "fav_green");
@include define-icon("ico", "fav_on_green");
@include define-icon("ico", "file_darkblue");
@include define-icon("ico", "filter");
@include define-icon("ico", "forum_darkblue");
@include define-icon("ico", "friends");
@include define-icon("ico", "garbage");
@include define-icon("ico", "gifts");
@include define-icon("ico", "gifts_blue");
@include define-icon("ico", "gifts_darkblue");
@include define-icon("ico", "globe");
@include define-icon("ico", "globe_darkblue");
@include define-icon("ico", "game_darkblue");
@include define-icon("ico", "history");
@include define-icon("ico", "history_blue");
@include define-icon("ico", "history_black");
@include define-icon("ico", "humidity");
@include define-icon("ico", "journal_darkblue");
@include define-icon("ico", "key_blue");
@include define-icon("ico", "key_white");
@include define-icon("ico", "like_darkblue");
@include define-icon("ico", "lock_blue");
@include define-icon("ico", "lock_darkblue");
@include define-icon("ico", "lock_white");
@include define-icon("ico", "locked");
@include define-icon("ico", "location_darkblue");
@include define-icon("ico", "mail_blue");
@include define-icon("ico", "mail_darkblue");
@include define-icon("ico", "man");
@include define-icon("ico", "mess");
@include define-icon("ico", "mess_darkblue");
@include define-icon("ico", "minus");
@include define-icon("ico", "minus_blue");
@include define-icon("ico", "mobile_blue");
@include define-icon("ico", "more");
@include define-icon("ico", "more_darkblue");
@include define-icon("ico", "music_darkblue");
@include define-icon("ico", "no_eye");
@include define-icon("ico", "note");
@include define-icon("ico", "ok");
@include define-icon("ico", "ok_blue");
@include define-icon("ico", "ok_darkblue");
@include define-icon("ico", "ok_green");
@include define-icon("ico", "ok_white");
@include define-icon("ico", "people_darkblue");
@include define-icon("ico", "photo");
@include define-icon("ico", "photo_darkblue");
@include define-icon("ico", "place");
@include define-icon("ico", "plane");
@include define-icon("ico", "plane_blue");
@include define-icon("ico", "plus");
@include define-icon("ico", "plus_blue");
@include define-icon("ico", "plus_darkblue");
@include define-icon("ico", "plus_white");
@include define-icon("ico", "pressure");
@include define-icon("ico", "private");
@include define-icon("ico", "question");
@include define-icon("ico", "question_darkblue");
@include define-icon("ico", "question_circle");
@include define-icon("ico", "read");
@include define-icon("ico", "read_blue");
@include define-icon("ico", "read_darkblue");
@include define-icon("ico", "read_on_green");
@include define-icon("ico", "readers");
@include define-icon("ico", "reload");
@include define-icon("ico", "reload_darkblue");
@include define-icon("ico", "reload_blue");
@include define-icon("ico", "remove");
@include define-icon("ico", "remove_blue");
@include define-icon("ico", "remove_red");
@include define-icon("ico", "rotate_left");
@include define-icon("ico", "rotate_right");
@include define-icon("ico", "search");
@include define-icon("ico", "search_blue");
@include define-icon("ico", "search_darkblue");
@include define-icon("ico", "search_people_blue");
@include define-icon("ico", "settings");
@include define-icon("ico", "settings_green");
@include define-icon("ico", "settings_light");
@include define-icon("ico", "settings_darkblue");
@include define-icon("ico", "shared");
@include define-icon("ico", "shared_blue");
@include define-icon("ico", "shared_darkblue");
@include define-icon("ico", "shared_white");
@include define-icon("ico", "sharing");
@include define-icon("ico", "short");
@include define-icon("ico", "sort");
@include define-icon("ico", "smile");
@include define-icon("ico", "smile_black");
@include define-icon("ico", "smile_darkblue");
@include define-icon("ico", "speaker");
@include define-icon("ico", "status_darkblue");
@include define-icon("ico", "tag");
@include define-icon("ico", "tort");
@include define-icon("ico", "up");
@include define-icon("ico", "upload");
@include define-icon("ico", "upload_blue");
@include define-icon("ico", "user");
@include define-icon("ico", "user_darkblue");
@include define-icon("ico", "users");
@include define-icon("ico", "users_black");
@include define-icon("ico", "users_blue");
@include define-icon("ico", "users_darkblue");
@include define-icon("ico", "users_group");
@include define-icon("ico", "video");
@include define-icon("ico", "video_black");
@include define-icon("ico", "video_darkblue");
@include define-icon("ico", "music_album");
@include define-icon("ico", "wait");
@include define-icon("ico", "wind");
@include define-icon("ico", "write");
@include define-icon("ico", "woman");
@include define-icon("ico", "jour_action");
@include define-icon("ico", "temp_block_red");
@include define-icon("ico", "transaction");
@include define-icon("ico", "service_darkblue");
@include define-icon("ico", "levels_black");
@include define-icon("ico", "dating");
@include define-icon("ico", "dating_black");
@include define-icon("ico", "dating_darkblue");
@include define-icon("ico", "checkbox_circle");

body .delete-btn {
	@include use-icon("ico", "remove");
}

.ico-alone {
	&.ico_plane, &.ico_plane_blue {
		margin-right: 2px !important;
		margin-top: -1px !important;
	}
}
