@use "Common/Utils" as *;

@include define-icon("ico_header", "menu");
@include define-icon("ico_header", "mail");
@include define-icon("ico_header", "journal");
@include define-icon("ico_header", "lenta");
@include define-icon("ico_header", "videos");
@include define-icon("ico_header", "films");
@include define-icon("ico_header", "photos");
@include define-icon("ico_header", "cartoons");
@include define-icon("ico_header", "login");
@include define-icon("ico_header", "users");
@include define-icon("ico_header", "comms");
@include define-icon("ico_header", "news");
@include define-icon("ico_header", "menu_small");
@include define-icon("ico_header", "login_small");

/* Location Bar */
.location-bar {
	&__sep {
		@include use-icon("ico_panel", "location_bar_sep");
		margin: -4px 5px -3px;
		vertical-align: middle;
	}

	&__home-link {
		@include use-icon("ico_panel", "location_bar_house");
		margin-top: -3px;

		&:hover {
			@include use-icon("ico_panel", "location_bar_house_darkblue");
		}
	}
}
