@use "Common/Theme" as *;
.soc-link{
	display: inline-block;
	font-size: 0;
	padding: 6px;
	height: 16px;
	width: 16px;
	margin: 0 4px 5px 4px;
	margin-bottom: 5px;
	color: $soc-link-color;
}

.touch_light .soc-link{
	margin: 0 8px 10px 8px;
	padding: 12px;
}

.soc-links__share .soc-link {
	margin: 2px 4px 0 4px;
	padding: 6px;
}

.soc-link.vk{
	background: $soc-link-vk-bg;
}

.soc-link.spcs{
	background: $soc-link-spcs-bg;
}

.soc-link.twitter{
	background: $soc-link-twitter-bg;
}

.soc-link.email{
	background: $soc-link-email-bg;
}

.soc-link.ok{
	background: $soc-link-ok-bg;
}

.soc-link.mymir{
	background: $soc-link-mymir-bg;
}

.soc-link.fb{
	background: $soc-link-fb-bg;
}

.soc-link.google{
	background: $soc-link-google-bg;
}

.soc-link.yandex{
	background: $soc-link-yandex-bg;
}
