@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;

@include embed-sprite("ico_compl") {
	display: inline-block;
	margin: 0px 4px 1px 0;
}
@include define-icon("ico_compl", "dot_green");
@include define-icon("ico_compl", "dot_blue");
@include define-icon("ico_compl", "dot_red");
@include define-icon("ico_compl", "dot_grey");
