.mini-form {
	&--minimized {
		display: table;
		width: 100%;
	}

	&__button {
		display: none;
	}

	&__body {
		display: block;
	}

	&--minimized &__input {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		line-height: 0;
	}

	&--minimized &__button {
		display: table-cell;
		vertical-align: middle;
		padding-right: 15px;
	}

	&--minimized &__body {
		display: none;
	}

	&--minimized .cntBl {
		display: none;
	}
}
