@use "Common/Theme" as *;

.stat_table {
	th {
		background: $stat-table-title-bg;
		font-weight: bold;
		position: sticky;
		top: var(--table-sticky-offset, 0);
		z-index: 100000;
	}

	tr {
		background: $content-bg;

		&:hover {
			background: $default-hover-bg;
		}
	}

	th, td {
		padding: 5px;
		border: 1px solid $default-border-color;
		color: $default-text-color;
	}

	th {
		border-top: none;
	}

	tr:last-child td {
		border-bottom: none;
	}

	&__row-separator {
		border-bottom: 2px solid $default-border-color;
	}
}
