@use "Common/Theme" as *;

.sticker {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: $sticker-bottom-box-shadow;
	z-index: 999999;
}

.sticker-close {
	position: absolute;
	top: -10px;
	right: 0;
}

@media all and (max-width: 329px) {
	.sticker-close_btn {
		display: none !important;
	}
}

.touch .sticker, 
.touch .sticker button {
	font-size: 16px;
}

@media all and (min-width: 900px) {
	.sticker {
		max-width: 600px;
		margin: 0 auto;
		box-shadow: $sticker-top-box-shadow;
	}
	
	.sticker-close {
		right: -10px;
	}
}

@media all and (min-width: 1024px) {
	.sticker {
		max-width: 300px;
		margin: 0;
		bottom: auto;
		left: 5px;
		top: 5px;
		right: auto;
		box-shadow: $sticker-top-box-shadow;
	}
	
	.sticker-close {
		display: none
	}
	
	.sticker-close_btn {
		display: block !important;
	}
}
