@use "Common/Theme" as *;
/* Фон */
#wrap_all {
	background: $body-bg
}

/* Верхняя панель */
.not_auth .horiz-menu__link {
	height: auto;
}

.touch.not_auth .horiz-menu__link {
	height: auto;
}

.horiz-menu__link.current {
	position: relative;
	background-color: $header-link-selected-bg;
}

.horiz-menu__link.current:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	background-color: $header-link-selected-border;
}

.text_logo {
	text-transform: none;
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 2em;
	font-size: 22px;
	margin-top: -1em;
}

/* Табы под нижней панелью */
.subnavi {
	background-color: $content-bg;
	border-bottom: 1px solid $subnavi-separator;
}

.subnavi a,
.subnavi .active{
	color: $subnavi-link-color;
	display: block;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 71.031%;
    line-height: 100%;
	padding: 9px 1px;
}

.subnavi a:hover,
.subnavi .active{
	color: $subnavi-link-hover-color;
}

.subnavi a:hover:after,
.subnavi .active:after{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 4px solid $subnavi-link-hover-border;
}

.horiz-menu__link.current {
	position: relative;
	background-color: $header-link-selected-bg;
}

.horiz-menu__link.current:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	background-color: $header-link-selected-border;
}

.l-bord {
	border-left: 1px solid $separator-color; 
}

.links-group .online_status_ico{
	margin: 0 5px 0 1px;
}

#photo_preview img {
	max-width: 100%
}

.drop-down-label_single.js-clicked:hover{
	color: $inline-link-default-hover-color;
}

.ico_together {
	margin-right: 0 !important;
}

/* line-list */
.line-list {
	position: relative
}
.line-list_first .list-link {
	position: absolute;
	left: 0; top: 0; bottom: 0;
	width: 16px;
}
.line-list_first .ico {
	position: absolute;
	top: 50%;
	margin: -8px 0 0 0 !important;
}

.line-list .list-link {
	border-bottom: none;
}

#sidebar .line-list {
	border-bottom: 1px solid $separator-color
}

.line-list_item {
	margin-left: 46px;
}

.full_ico_btn {
	width: 50px;
	position: relative
}
.full_ico_btn .list-link {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-bottom: 0
}
.full_ico_btn .ico {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px -8px;
}

.btn-full {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0
}

.label__spinner {
	min-height: 16px
}

.label__spinner .ico_spinner {
	vertical-align: top
}

/* footer */
.footer__text .footer__link-wrapper {
	width: 20%
}

.footer__text .footer__link {
	height: auto;
	padding: 15px 0;
}

.footer__link_more .footer__name {
	opacity: 0
}

.footer__link_more .footer__image {
	margin: -11px 0 0 -11px;
    padding: 0;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
}

.drop-down-label__fill {
	margin: -15px;
	padding: 15px;
	width: 100%
}

.external-player {
	position: relative
}

.external-player:before {
	background-color: $video-wrap-bg;
	padding-top: 56.25%;
	content: '';
	display: block;
}

.external-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

