@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;

#{mangle("#ads_content_main")},
#{mangle("#ads_main")},
#{mangle("#ads_place_id")},
#{mangle("#ads_title_main")} {
	/* Заглушка, чтобы отработал mangle() */
}

#{mangle(".ads_link")} {
	padding: 5px 0;
	color: $block-link-green-color;
	display: inline-block;
}

#{mangle("#ads_upk")} #{mangle(".darkblue")} {
	color: $darkblue-text-color
}

#{mangle(".m")} {
	vertical-align: middle
}

img#{mangle(".p50")}, 
#{mangle(".p50")} img {
	width: 50px;
    height: 50px;
}

#{mangle(".ads_off")} {
	float: right;
	margin-top: -5px;
	margin-right: -5px;
}

#{mangle(".rek_bl")} {
	margin: 10px 5px;
	border: 1px solid $default-border-color;
	background: $content-bg;
	text-align: center
}

.tiles_wrapper #{mangle(".rek_bl")} {
	margin: 10px 7px;
}

#{mangle(".rek_bl")} .list_item {
	text-align: left;
	border-bottom: 0;
	border-top: 1px solid $separator-color
}

#{mangle(".ads_block")} {
	position: relative;
	text-align: left;
}

#{mangle(".ads_block_pic")} {
	font-size: 0;
	float: left;
	margin-right: 6px
}

#{mangle(".ads_block_pic")} img {
	width: 50px;
	height: 50px;
}

#{mangle(".ads_image")} {
	position: relative;
	min-height: 16px;
}

#{mangle(".ads_image")} img {
	float: left;
}

#{mangle(".ads_lenta_link")} {
	color: $block-link-grey-color;
	padding: 0 5px 5px 5px;
	float: right;
}

#{mangle("#ads_upk")} #{mangle(".ads_image")}{
	font-size: 13px
}
