@use "Common/Theme" as *;

.categories-selector-grid {
	.error__item { /* Костыль :( */
		margin: 0 !important;
		padding: 0 !important;
		border-top: none !important;
		border-left: none !important;
		border-right: none !important;
		border-bottom: 1px solid $separator-color !important;
	}
}

@media all and (min-width: 600px) {
	.categories-selector-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		background: $separator-color;
		gap: 1px;
		border-bottom: 1px solid $separator-color;

		&__item {
			background: $content-bg;
			&--is-active {
				background: $default-hover-bg
			}
		}

		.form-checkbox {
			border-bottom: none;
		}
	}
}

.xxx_cats_header {
	padding: 15px;
}

#upload_form .list {
	border-right: 1px solid $separator-color;
	border-left: 1px solid $separator-color;
}

#upload_form .xxx_cats_header {
	padding-left: 0;
	padding-right: 0;
}

.xxx_cats_item-active {
	background: $default-hover-bg
}
