@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;

/* Фон */
#wrap_all {
	background: $body-bg
}

#home_link img {
	margin-top: 0
}

#mobtop {
	display: inline-block;
	padding: 4px 0px;
}

.text_logo {
	text-transform: none;
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 2em;
	font-size: 22px;
	margin-top: -1em;
}

.rightbar .sidebar-logo {
	margin-bottom: 0;
}

.l-bord {
	border-left: 1px solid $separator-color; 
}

.subnavi {
	background-color: $content-bg;
	border-bottom: 1px solid $subnavi-separator;
}

.subnavi a,
.subnavi .active{
	color: $subnavi-link-color;
	display: block;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 71.031%;
    line-height: 100%;
	padding: 9px 1px;
}

.subnavi a:hover,
.subnavi .active{
	color: $subnavi-link-hover-color;
}

.subnavi a:hover:after,
.subnavi .active:after{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 4px solid $subnavi-link-hover-border;
}

.horiz-menu__link.current {
	position: relative;
	background-color: $header-link-selected-bg;
}

.horiz-menu__link.current:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	background-color: $header-link-selected-border;
}

.links-group .online_status_ico{
	margin: 0 5px 0 1px;
}

a.horiz-menu__link {
	font-size: 14px !important;
}

.drop-down-label_single.js-clicked:hover{
	color: $inline-link-default-hover-color;
}

.ico_together {
	margin-right: 0 !important;
}

/* line-list */
.line-list {
	position: relative
}
.line-list_first .list-link {
	position: absolute;
	left: 0; top: 0; bottom: 0;
	width: 16px;
}
.line-list_first .ico {
	position: absolute;
	top: 50%;
	margin: -8px 0 0 0 !important;
}

.line-list .list-link {
	border-bottom: none;
}

.line-list_stub {
	padding: 10px 15px;
	background: $content-bg
}

.font_normal .line-list_stub {
	line-height: 20px
}

/* operamini line-list */
@media (max-width: 359px) {
	.operamini .line-list_item {
		margin-left: 32px
	}
	
	.operamini .links-group_short .stnd-link {
		padding: 5px 15px
	}
}

#sidebar .line-list {
	border-bottom: 1px solid $separator-color
}

.line-list_item {
	margin-left: 46px;
}

.full_ico_btn {
	width: 50px;
	position: relative
}
.full_ico_btn .list-link {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-bottom: 0
}
.full_ico_btn .ico {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px -8px;
}

.btn-full {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0
}

.label__spinner {
	min-height: 16px
}

.label__spinner .ico_spinner {
	vertical-align: top
}

/* footer */
.footer__text .footer__link-wrapper {
	width: 20%
}

.footer__text .footer__link {
	height: auto;
	padding: 15px 0;
}

#footer_more_link .footer__name {
	opacity: 0
}

#footer_more_link .footer__image {
	margin: -11px 0 0 -11px;
    padding: 0;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
}

.drop-down-label__fill {
	margin: -15px;
	padding: 15px;
	width: 100%
}

#orientFW.drop-down-list {
	left: 0;
	right: 0
}

@include define-icon("ico_porn", "photo_black");
@include define-icon("ico_porn", "users_black");
@include define-icon("ico_porn", "video_black");
@include define-icon("ico_porn", "comms_black");

a:hover {
	@include replace-icon("ico_porn", "photo_black", "photo");
	@include replace-icon("ico_porn", "users_black", "users");
	@include replace-icon("ico_porn", "video_black", "video");
	@include replace-icon("ico_porn", "comms_black", "comms");
}

.subnavi .active, .subnavi a:hover {
	@include replace-icon("ico_porn", "photo_black", "photo");
	@include replace-icon("ico_porn", "users_black", "users");
	@include replace-icon("ico_porn", "video_black", "video");
	@include replace-icon("ico_porn", "comms_black", "comms");
}

@include define-icon("ico_colored", "porndude");

/* Иконки выбора ориентации */
@include define-icon("ico_porn", "gay");
@include define-icon("ico_porn", "gay_grey");
@include define-icon("ico_porn", "gay_black");
@include define-icon("ico_porn", "gay_darkblue");

@include define-icon("ico_porn", "hetero");
@include define-icon("ico_porn", "hetero_grey");
@include define-icon("ico_porn", "hetero_black");
@include define-icon("ico_porn", "hetero_darkblue");

@include define-icon("ico_porn", "lesbian");
@include define-icon("ico_porn", "lesbian_grey");
@include define-icon("ico_porn", "lesbian_black");
@include define-icon("ico_porn", "lesbian_darkblue");

@include define-icon("ico_porn", "bi");
@include define-icon("ico_porn", "bi_grey");
@include define-icon("ico_porn", "bi_black");
@include define-icon("ico_porn", "bi_darkblue");

@include define-icon("ico_porn", "shemale");
@include define-icon("ico_porn", "shemale_grey");
@include define-icon("ico_porn", "shemale_black");
@include define-icon("ico_porn", "shemale_darkblue");
