@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;

.gallery__open #main_wrap, .gallery__open #debug {
	display:none;
}
.gallery__open .gallery {
	display: block
}

.gallery__doc {
	min-height: 100% !important;
	height: 100%;
	position: relative;
}

.gview_link .player_container {
	display: none
}

/* Окно просмотрщика */
.gallery {
	position :absolute;
	top: 0; bottom: 0;
	left:0; right:0;
	z-index: 100000;
	overflow: hidden;
}

/* Фон просмотрщика */
.gallery__shadow {
	background: $gallery-shadow-bg;
}

/* Футер и шапка просмотрщика */
.gallery__header_fs {
	display: none;
	background: transparent !important
}
.gallery__wrapper, .gallery__header, .gallery__fs_header  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.gallery__header_inner {
	display: table;
	width: 100%;
	position: absolute;
	top: 0
}
.gallery__header, .gallery__footer {
	background: $gallery-panel-bg;
	text-align: center;
	z-index: 1100;
	right: 0;
	height: 40px;
	color: $gallery-text-color;
}
.gallery__tools_button {
	display: table-cell;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	z-index: 1000;
}
.gallery__tools_place {
	display: table-cell;
}

.gallery__footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	text-align: center;
	z-index: 1000;
}
.gallery__footer_table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	white-space: nowrap;
	table-layout: fixed;
}

.gallery__link {
	padding: 0;
	width: 25%;
	cursor: pointer;
}
.gallery__footer_table td{
	border-right: 1px solid $gallery-separator-color;
}
.gallery__link.js-clicked {
	background-color: $gallery-button-active-bg
}
.gallery__link.js-clicked a{
	color: $gallery-button-active-color;
}
.operamini .gallery__link:hover { /* Иначе не отжимается при лайке */
	background-color: transparent
}
.gallery__footer_table td.last {
	border-right: 0
}
.gallery__link a {
	display: block;
	padding: 10px;
	height: 20px;
	color: $gallery-button-color;
	line-height: 20px;
	text-decoration: none !important;
}

.gallery__link_text{
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
}

.gallery .disabled {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.gallery__image, .gallery__shadow {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.gallery__image {
	margin:auto;
	max-height: 100%;
	max-width:100%;
}

.one_image .gallery__image {
	cursor: default;
}

.gallery__side {
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	z-index:100;
	cursor:pointer;
	-webkit-tap-highlight-color: transparent;
}

.gallery__side_prev {
	left:0;
}

.gallery__side_next {
	right:0;
}

.gallery__side-arrow {
	opacity: 0;
	filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s ease-out; 
       -moz-transition: opacity 0.3s ease-out; 
         -o-transition: opacity 0.3s ease-out; 
            transition: opacity 0.3s ease-out;
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -20px;
	-webkit-tap-highlight-color: transparent;
}

.gallery-arrows .gallery__side-arrow {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.gallery__side {
	width: 50%
}

.gallery__arrows_hide .gallery__side-arrow, 
.gallery__nav_hide .gallery__side {
	display: none !important;
}

.gallery__wrapper {
	margin-top:40px;
	bottom:0;
	margin-bottom:40px;
	border-collapse: collapse;
	border-spacing: 0px;
}

.gallery__wrapper td {
	text-align:center;
	vertical-align:middle;
	padding:0;
}

.gallery__wrapper .gallery__image, 
.gallery__wrapper .gallery__image-wrapper {
	position: relative;
}

.gallery__image-wrapper {
	position: absolute;
	left:0;
	right:0;
	top:0;
	margin: 40px 0;
	bottom:0;
	overflow: hidden;
}

.gallery_cnt {
	height: 40px;
	display: table-cell;
	vertical-align: middle;
}
@media all and (min-width:351px) {
	.gallery_cnt {
		padding-left: 40px;
	}
}
@media all and (max-width:350px) {
	.js-gal_zoom {
		display: none
	}
	.gallery_cnt {
		padding-left: 0;
	}
}

.gallery_video .gallery__side{
	display: none;
}

/* Нотификация */
#gallery_notif {
	position: absolute;
	bottom: 40px;
	left: 0; right: 0;
	text-align: center;
	z-index: 101;
}
.gallery__notif_inner {
	background: $gallery-notify-bg;
	color: $gallery-text-color;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	text-align: left;
}
.gallery__notif_inner td {
	padding: 5px 5px;
}

/* Блокирующая загрузка */
.gallery__loader {
	right: 0; left: 0;
	position: absolute;
	background: $gallery-loading-bg url(/i/progress.gif) repeat-x;
	height: 5px;
	display: none;
}
.gallery__loading .gallery__loader {
	display: block;
	z-index: 999;
}

/* Ошибка вместо изображения */
.gallery__error {
	color: $gallery-text-color;
	display: none;
	width: auto;
	text-align: center;
	z-index: 300;
	height: 100%;
	width: 100%
}
.gallery__error-msg {
	position: relative
}
.gallery__error_inner {
	display: table-cell;
	vertical-align: middle;
}
.gallery__show_error img.gallery__image, 
.gallery__show_error #gallery_video, 
.gallery__show_error #gallery__gif_play {
	display: none !important
}
.gallery__show_error .gallery__error {
	display: table
}
.gallery__show_error .gallery__side {
	display: none
}
.gallery_error-side {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	cursor: pointer;
}
.gallery_error-side.next {
	left: 50%;
}
.gallery_error-side.prev {
	right: 50%;
}

/* Кнопка */
.gallery__button {
	display: inline-block;
	background: $gallery-button-bg;
	color: $gallery-button-color;
	border-radius: 3px;
	padding: 11px 20px;
	margin-top: 7px;
	position: relative;
	z-index: 400;
}
.gallery__button .ico,
.gallery__button .ico_gallery {
	margin: 0 5px 0 0;
}

/* Курсор на изображении при зуме */
.gallery__zoom #gallery_img {
	cursor: pointer
}

/* Скрытие тулбаров */
.gallery__fullscreen #gallery_tools,
.gallery__fullscreen #gallery_bottom, 
.gallery__fullscreen .gallery__side, 
.one_image .gallery__side, 
.gallery__zoom .gallery__side, 
.gallery__zoom #gallery__gif_play {
	display:none;
}
.gallery__fullscreen .gallery__image-wrapper {
	margin: 0px;
}
.gallery__fullscreen .gallery__header_fs {
	display: block
}

/* Видео */
.gallery__video #gallery_video {
	display: block;
	z-index: 10;
}
.gallery__video #gallery_img, 
.gallery__video .js-gal_zoom, 
.gallery__video .gallery__side, 
#gallery_video {
	display: none
}

/* Меню */
.gallery__menu {
	position: absolute;
	left: 0;
	right: 0;
	padding: 10px;
	background: $dropdown-body-bg;
	z-index: 1200;
}

/* GIF */
#gallery__gif_play {
	width: 100px;
	height: 100px;
	display: none;
	margin: auto;
	position: absolute;
	left: 0; right: 0;
	z-index: 300;
	cursor: pointer
}
.gallery__gif #gallery__gif_play {
	display: inline-block;
}

.gallery__play_btn {
	display: none;
}

.gallery__gif .gallery__play_btn {
	display: block;
}

.gallery__gif_playing .gallery__play_btn,
.gallery__loading .gallery__play_btn,
.gallery-sibling  .gallery__play_btn {
	display: none;
}

/* Иконки */
@include embed-sprite("ico_gallery") {
	display: inline-block;
}

@include define-icon("ico_gallery", "arrow_left") {
	left: 10%;
}

@include define-icon("ico_gallery", "arrow_right") {
	right: 10%;
}

@include define-icon("ico_gallery", "reload");
@include define-icon("ico_gallery", "eye");
@include define-icon("ico_gallery", "select");
@include define-icon("ico_gallery", "plus_white");
@include define-icon("ico_gallery", "share");
@include define-icon("ico_gallery", "dots");
@include define-icon("ico_gallery", "complaint");
@include define-icon("ico_gallery", "download");
@include define-icon("ico_gallery", "exit");
@include define-icon("ico_gallery", "fullscreen");
@include define-icon("ico_gallery", "mess");

/* Голосовалка */
@include define-icon("ico_gallery", "vote_down");
@include define-icon("ico_gallery", "vote_up");

.js-clicked {
	@include replace-icon("ico_gallery", "vote_down", "vote_down_active");
	@include replace-icon("ico_gallery", "vote_up", "vote_up_active");
}

/* Иконка зума */
@include define-icon("ico_gallery", "zoom");
.gallery__zoom {
	@include replace-icon("ico_gallery", "zoom", "unzoom");
}
