@use "Common/Theme" as *;

.stnd_img{
	text-align:center;
	border:1px solid $default-border-color;
	padding: 1px;
}

.stnd_img img {
	width:50px;
	height:50px;
}

.border_images img{
	border:1px solid $default-border-color;
}
