@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;

@include embed-sprite("ico_head") {
	display: inline-block
}

.bought_head{
	position: absolute;
	top: -1px;
	right: -1px;
	border-right:10px solid $adv-user-link-selected-mark;
	border-top:10px solid $adv-user-link-selected-mark;
	border-left:10px solid transparent;
	border-bottom:10px solid transparent;
	border-radius:0 4px 0 0;
}

/* Стандартные */
@include define-icon("ico_head", "admin_man");
@include define-icon("ico_head", "admin_man_off");
@include define-icon("ico_head", "admin_woman");
@include define-icon("ico_head", "admin_woman_off");
@include define-icon("ico_head", "man");
@include define-icon("ico_head", "man_off");
@include define-icon("ico_head", "mod_man");
@include define-icon("ico_head", "mod_man_off");
@include define-icon("ico_head", "modsoo_man");
@include define-icon("ico_head", "modsoo_man_off");
@include define-icon("ico_head", "modsoo_woman");
@include define-icon("ico_head", "modsoo_woman_off");
@include define-icon("ico_head", "mod_woman");
@include define-icon("ico_head", "mod_woman_off");
@include define-icon("ico_head", "woman");
@include define-icon("ico_head", "woman_off");

/* Кастомные */
@include define-icon("ico_head", "afro");
@include define-icon("ico_head", "afro_off");
@include define-icon("ico_head", "aksakal");
@include define-icon("ico_head", "aksakal_off");
@include define-icon("ico_head", "alien");
@include define-icon("ico_head", "alien_off");
@include define-icon("ico_head", "angel");
@include define-icon("ico_head", "angel_off");
@include define-icon("ico_head", "anime1");
@include define-icon("ico_head", "anime1_off");
@include define-icon("ico_head", "anime2");
@include define-icon("ico_head", "anime2_off");
@include define-icon("ico_head", "anime");
@include define-icon("ico_head", "anime3");
@include define-icon("ico_head", "anime3_off");
@include define-icon("ico_head", "anime4");
@include define-icon("ico_head", "anime4_off");
@include define-icon("ico_head", "anime5");
@include define-icon("ico_head", "anime5_off");
@include define-icon("ico_head", "anime6");
@include define-icon("ico_head", "anime6_off");
@include define-icon("ico_head", "anime_off");
@include define-icon("ico_head", "anonym");
@include define-icon("ico_head", "anonym_off");
@include define-icon("ico_head", "avman");
@include define-icon("ico_head", "avman_off");
@include define-icon("ico_head", "avwoman");
@include define-icon("ico_head", "avwoman_off");
@include define-icon("ico_head", "bald");
@include define-icon("ico_head", "bald_off");
@include define-icon("ico_head", "bart");
@include define-icon("ico_head", "bart_off");
@include define-icon("ico_head", "bear");
@include define-icon("ico_head", "beard1");
@include define-icon("ico_head", "beard1_off");
@include define-icon("ico_head", "beard2");
@include define-icon("ico_head", "beard2_off");
@include define-icon("ico_head", "bear_off");
@include define-icon("ico_head", "black");
@include define-icon("ico_head", "black_off");
@include define-icon("ico_head", "blonde");
@include define-icon("ico_head", "blonde_off");
@include define-icon("ico_head", "blue");
@include define-icon("ico_head", "blue_off");
@include define-icon("ico_head", "bodybuilder");
@include define-icon("ico_head", "bodybuilder_off");
@include define-icon("ico_head", "cart");
@include define-icon("ico_head", "cart_off");
@include define-icon("ico_head", "catwoman");
@include define-icon("ico_head", "catwoman_off");
@include define-icon("ico_head", "censor");
@include define-icon("ico_head", "censor_off");
@include define-icon("ico_head", "chaplin");
@include define-icon("ico_head", "chaplin_off");
@include define-icon("ico_head", "cleo");
@include define-icon("ico_head", "cleo_off");
@include define-icon("ico_head", "clown");
@include define-icon("ico_head", "clown_off");
@include define-icon("ico_head", "cook");
@include define-icon("ico_head", "cook_off");
@include define-icon("ico_head", "cowboy");
@include define-icon("ico_head", "cowboy_off");
@include define-icon("ico_head", "cyclop");
@include define-icon("ico_head", "cyclop_off");
@include define-icon("ico_head", "dame1");
@include define-icon("ico_head", "dame1_off");
@include define-icon("ico_head", "dame2");
@include define-icon("ico_head", "dame2_off");
@include define-icon("ico_head", "devil");
@include define-icon("ico_head", "deviless");
@include define-icon("ico_head", "deviless_off");
@include define-icon("ico_head", "devil_off");
@include define-icon("ico_head", "dummy");
@include define-icon("ico_head", "dummy_off");
@include define-icon("ico_head", "ears1");
@include define-icon("ico_head", "ears1_off");
@include define-icon("ico_head", "ears2");
@include define-icon("ico_head", "ears2_off");
@include define-icon("ico_head", "einstein");
@include define-icon("ico_head", "einstein_off");
@include define-icon("ico_head", "elfman");
@include define-icon("ico_head", "elfman_off");
@include define-icon("ico_head", "elfwoman");
@include define-icon("ico_head", "elfwoman_off");
@include define-icon("ico_head", "emo");
@include define-icon("ico_head", "emo_off");
@include define-icon("ico_head", "executor");
@include define-icon("ico_head", "executor_off");
@include define-icon("ico_head", "eyes");
@include define-icon("ico_head", "eyes_off");
@include define-icon("ico_head", "fairy");
@include define-icon("ico_head", "fairy_off");
@include define-icon("ico_head", "freak1");
@include define-icon("ico_head", "freak1_off");
@include define-icon("ico_head", "freak2");
@include define-icon("ico_head", "freak2_off");
@include define-icon("ico_head", "gipsy");
@include define-icon("ico_head", "gipsy_off");
@include define-icon("ico_head", "girl1");
@include define-icon("ico_head", "girl1_off");
@include define-icon("ico_head", "girl2");
@include define-icon("ico_head", "girl2_off");
@include define-icon("ico_head", "girl3");
@include define-icon("ico_head", "girl3_off");
@include define-icon("ico_head", "girl4");
@include define-icon("ico_head", "girl4_off");
@include define-icon("ico_head", "goth");
@include define-icon("ico_head", "goth_off");
@include define-icon("ico_head", "hair");
@include define-icon("ico_head", "hair_off");
@include define-icon("ico_head", "hat1");
@include define-icon("ico_head", "hat1_off");
@include define-icon("ico_head", "hat2");
@include define-icon("ico_head", "hat2_off");
@include define-icon("ico_head", "hat3");
@include define-icon("ico_head", "hat3_off");
@include define-icon("ico_head", "hat4");
@include define-icon("ico_head", "hat4_off");
@include define-icon("ico_head", "hockey");
@include define-icon("ico_head", "hockey_off");
@include define-icon("ico_head", "homie");
@include define-icon("ico_head", "homie_off");
@include define-icon("ico_head", "hulk");
@include define-icon("ico_head", "hulk_off");
@include define-icon("ico_head", "jessica");
@include define-icon("ico_head", "jessica_off");
@include define-icon("ico_head", "jewishboy");
@include define-icon("ico_head", "jewishboy_off");
@include define-icon("ico_head", "jewishman");
@include define-icon("ico_head", "jewishman_off");
@include define-icon("ico_head", "kabuki");
@include define-icon("ico_head", "kabuki_off");
@include define-icon("ico_head", "ken");
@include define-icon("ico_head", "ken_off");
@include define-icon("ico_head", "leia");
@include define-icon("ico_head", "leia_off");
@include define-icon("ico_head", "leprechaun");
@include define-icon("ico_head", "leprechaun_off");
@include define-icon("ico_head", "light");
@include define-icon("ico_head", "light_off");
@include define-icon("ico_head", "lord");
@include define-icon("ico_head", "lord_off");
@include define-icon("ico_head", "macho");
@include define-icon("ico_head", "macho_off");
@include define-icon("ico_head", "maid");
@include define-icon("ico_head", "maid_off");
@include define-icon("ico_head", "maninblack");
@include define-icon("ico_head", "maninblack_off");
@include define-icon("ico_head", "minion");
@include define-icon("ico_head", "minion_off");
@include define-icon("ico_head", "moto");
@include define-icon("ico_head", "moto_off");
@include define-icon("ico_head", "moustache");
@include define-icon("ico_head", "moustache_off");
@include define-icon("ico_head", "musliman");
@include define-icon("ico_head", "musliman_off");
@include define-icon("ico_head", "muslimwoman");
@include define-icon("ico_head", "muslimwoman_off");
@include define-icon("ico_head", "naruto");
@include define-icon("ico_head", "naruto_off");
@include define-icon("ico_head", "ninja1");
@include define-icon("ico_head", "ninja1_off");
@include define-icon("ico_head", "ninja2");
@include define-icon("ico_head", "ninja2_off");
@include define-icon("ico_head", "nun");
@include define-icon("ico_head", "nun_off");
@include define-icon("ico_head", "nurse");
@include define-icon("ico_head", "nurse_off");
@include define-icon("ico_head", "panda");
@include define-icon("ico_head", "panda_off");
@include define-icon("ico_head", "pig");
@include define-icon("ico_head", "pig_off");
@include define-icon("ico_head", "pika");
@include define-icon("ico_head", "pika_off");
@include define-icon("ico_head", "pilot1");
@include define-icon("ico_head", "pilot1_off");
@include define-icon("ico_head", "pilot2");
@include define-icon("ico_head", "pilot2_off");
@include define-icon("ico_head", "pilot3");
@include define-icon("ico_head", "pilot3_off");
@include define-icon("ico_head", "pioneeress");
@include define-icon("ico_head", "pioneeress_off");
@include define-icon("ico_head", "play");
@include define-icon("ico_head", "play_off");
@include define-icon("ico_head", "pogran1");
@include define-icon("ico_head", "pogran1_off");
@include define-icon("ico_head", "pogran2");
@include define-icon("ico_head", "pogran2_off");
@include define-icon("ico_head", "pony");
@include define-icon("ico_head", "pony_off");
@include define-icon("ico_head", "prisoner");
@include define-icon("ico_head", "prisoner_off");
@include define-icon("ico_head", "punk");
@include define-icon("ico_head", "punk_off");
@include define-icon("ico_head", "punkwoman");
@include define-icon("ico_head", "punkwoman_off");
@include define-icon("ico_head", "purple");
@include define-icon("ico_head", "purple_off");
@include define-icon("ico_head", "queen");
@include define-icon("ico_head", "queen_off");
@include define-icon("ico_head", "rapper");
@include define-icon("ico_head", "rapper_off");
@include define-icon("ico_head", "rasta");
@include define-icon("ico_head", "rasta_off");
@include define-icon("ico_head", "redbra");
@include define-icon("ico_head", "redbra_off");
@include define-icon("ico_head", "redhat");
@include define-icon("ico_head", "redhat_off");
@include define-icon("ico_head", "rich");
@include define-icon("ico_head", "rich_off");
@include define-icon("ico_head", "riot1");
@include define-icon("ico_head", "riot1_off");
@include define-icon("ico_head", "riot2");
@include define-icon("ico_head", "riot2_off");
@include define-icon("ico_head", "riot3");
@include define-icon("ico_head", "riot3_off");
@include define-icon("ico_head", "robot");
@include define-icon("ico_head", "robot_off");
@include define-icon("ico_head", "russian");
@include define-icon("ico_head", "russian_off");
@include define-icon("ico_head", "sailor1");
@include define-icon("ico_head", "sailor1_off");
@include define-icon("ico_head", "sailor2");
@include define-icon("ico_head", "sailor2_off");
@include define-icon("ico_head", "slipknot");
@include define-icon("ico_head", "slipknot_off");
@include define-icon("ico_head", "soldier2");
@include define-icon("ico_head", "soldier2_off");
@include define-icon("ico_head", "soldier");
@include define-icon("ico_head", "soldier_off");
@include define-icon("ico_head", "solid");
@include define-icon("ico_head", "solid_off");
@include define-icon("ico_head", "son");
@include define-icon("ico_head", "son_off");
@include define-icon("ico_head", "sphynx");
@include define-icon("ico_head", "sphynx_off");
@include define-icon("ico_head", "stalin");
@include define-icon("ico_head", "stalin_off");
@include define-icon("ico_head", "stig_black");
@include define-icon("ico_head", "stig_black_off");
@include define-icon("ico_head", "stig_white");
@include define-icon("ico_head", "stig_white_off");
@include define-icon("ico_head", "trooper");
@include define-icon("ico_head", "trooper_off");
@include define-icon("ico_head", "ukrainian");
@include define-icon("ico_head", "ukrainian_off");
@include define-icon("ico_head", "ukrman");
@include define-icon("ico_head", "ukrman_off");
@include define-icon("ico_head", "ukrwoman");
@include define-icon("ico_head", "ukrwoman_off");
@include define-icon("ico_head", "vampire");
@include define-icon("ico_head", "vampire_off");
@include define-icon("ico_head", "witch");
@include define-icon("ico_head", "witch_off");
@include define-icon("ico_head", "yoda");
@include define-icon("ico_head", "yoda_off");
@include define-icon("ico_head", "zombie");
@include define-icon("ico_head", "zombie_off");
