@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;

@include embed-sprite("ico_services") {
	display: inline-block;
}
@include define-icon("ico_services", "ads");
@include define-icon("ico_services", "reklama");
@include define-icon("ico_services", "ghost");
@include define-icon("ico_services", "nick");
@include define-icon("ico_services", "stickers");
@include define-icon("ico_services", "storage");
@include define-icon("ico_services", "head_icons");
@include define-icon("ico_services", "ai_photo_gen");
@include define-icon("ico_services", "ai_photo_style");
@include define-icon("ico_services", "magic");

@include embed-sprite("ico_services_small") {
	/*!__PURE__*/ display: inline-block;
	/*!__PURE__*/ margin-right: $icon-right-margin;
	@include icon-middle-align(16);
	@include icon-active-state("ico_services_small", "black");
}
@include define-icon("ico_services_small", "stickers");
@include define-icon("ico_services_small", "ai_photo_gen");
@include define-icon("ico_services_small", "ai_photo_style");
