@use "./Base" as *;

/* Email */
$header-bg:						theme(#7963d3,	#402a53);
$header-link-selected-bg: 		theme(#3e1070,	#2f1f3d);
$header-link-selected-border: 	theme(#57a3ea,	#8859ab);

/* Subnavi */
$subnavi-separator:				theme(#cccccc,	$separator-color);
$subnavi-link-color:			$default-text-color;
$subnavi-link-hover-color:		theme(#6619B8,	#b591eb);
$subnavi-link-hover-border:		theme(#6619B8,	#b591eb);

/* LocationBar */
$location-link-color:			theme(#57a3ea,	#fd8e26);
$location-link-hover-color:		theme(#0E3C87,	#d77f32);

/* Music Player */
$music-player-button-bg:		theme(#395387,	#fd8e26);

/* XXX moderation */
$xxx-moderation-button-disabled-bg:			theme(#eeeeee,	#616161);
$xxx-moderation-button-accept-bg:			theme(#008000,	#78da97);
$xxx-moderation-button-decline-bg:			theme(#EE8800,	#fd8e26);
$xxx-moderation-button-block-bg:			theme(#ff0000,	#ff8a66);
$xxx-moderation-button-active-text-color:	theme(#ffffff,	#323232);
