@use "Common/Theme" as *;

#tracking_table{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}

#tracking_table th{
	vertical-align:top;
	font-size:small;
	text-align:center;
	font-weight:bold;
	background: $tracking-table-title-bg;
	color: $tracking-table-title-color;
	padding:5px;
}

#tracking_table td{
	vertical-align:top;
	font-size:small;
	text-align:center;
	background:$tracking-table-row-bg;
	padding:5px;
	border-bottom:1px solid $separator-color;
	white-space:nowrap;
}

#tracking_table td.tracking_table_summary {
	background:$tracking-table-row-summary-bg;
}

#tracking_table tr.last td{
	border-bottom:2px solid $separator-color;
}

#tracking_table td.left_text{
	text-align:left;
}
