@use "Common/Theme" as *;
@-ms-keyframes footer__shake-rotate {
	0% {
		-ms-transform: rotate(0deg)
	}
	25% {
		-ms-transform: rotate(1.3deg)
	}
	50% {
		-ms-transform: rotate(0deg)
	}
	75% {
		-ms-transform: rotate(-1.3deg)
	}
	100% {
		-ms-transform: rotate(0deg)
	}
}
@-webkit-keyframes footer__shake-rotate {
	0% {
		-webkit-transform: rotate(0deg)
	}
	25% {
		-webkit-transform: rotate(1.3deg)
	}
	50% {
		-webkit-transform: rotate(0deg)
	}
	75% {
		-webkit-transform: rotate(-1.3deg)
	}
	100% {
		-webkit-transform: rotate(0deg)
	}
}
@keyframes footer__shake-rotate {
	0% {
		transform: rotate(0deg)
	}
	25% {
		transform: rotate(1.3deg)
	}
	50% {
		transform: rotate(0deg)
	}
	75% {
		transform: rotate(-1.3deg)
	}
	100% {
		transform: rotate(0deg)
	}
}
.footer_edit.footer_shake {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.footer_edit.footer_shake .footer__link_on, .footer_edit.footer_shake .footer__link_off {
	-webkit-animation-name:footer__shake-rotate;
	-ms-animation-name:footer__shake-rotate;
	animation-name:footer__shake-rotate;
	
	-webkit-animation-duration:200ms;
	-ms-animation-duration:200ms;
	animation-duration:200ms;
	
	-webkit-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	
	-webkit-animation-timing-function:ease-in-out;
	-ms-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	
	-webkit-animation-delay:0;
	-ms-animation-delay:0;
	animation-delay:0;
	
	-webkit-animation-play-state:running;
	-ms-animation-play-state:running;
	animation-play-state:running;
}

.footer_edit.footer_shake .footer__links-wrapper .footer__link-wrapper:nth-child(2n){
	-webkit-animation-delay:70ms;
	-ms-animation-delay:70ms;
	animation-delay:70ms;
}

.footer_edit.footer_shake .footer__links-wrapper .footer__link-wrapper:nth-child(3n+2){
	-webkit-animation-delay:140ms;
	-ms-animation-delay:140ms;
	animation-delay:140ms;
}