@use "Common/Theme" as *;
#gcaptcha {
	background: $gallery-page-overlay-bg;
	position: absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;
	z-index: 99999999;
	cursor: pointer
}

#gcaptcha_window {
	cursor: default;
	max-width: 240px;
	width: 100%;
	position: absolute
}

.touch #gcaptcha {
	position: absolute;
}

#gcaptcha_close_bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

@media all and (max-width:260px) {
	#gcaptcha_window .ico_buttons_close {
		right: 0
	}
}
