@use "Common/Theme" as *;
@use "Common/Utils" as *;

.dir-selector {
	&__location {
		display: flex;
		height: 46px;
		align-items: center;
		background: $content-bg;
		border-bottom: 2px solid $separator-color;
	}

	&__location-text {
		flex: 1;
		min-width: 0;
		padding: 0 10px;
		text-align: center;

		&:first-child {
			text-align: left;
			padding-left: 15px;
		}
	}

	&__location-title {
		font-weight: bold;
		line-height: 16px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__location-subtitle {
		margin-top: 2px;
		color: $secondary-text-color;
		font-size: 0.86em;
		line-height: 1.2em;
	}

	&__location-space {
		flex-shrink: 0;
		width: 82px;
		height: 46px;
	}

	&__location-button {
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		gap: 4px;
		box-sizing: border-box;
		width: 82px;
		height: 46px;
		padding: 0 10px;
		color: $blue-text-color;
		background: $content-bg;
		line-height: 16px;
		white-space: nowrap;
		cursor: pointer;
		border: none;
		border-radius: 0;
		@include switch-sprite-color("ico", "blue");

		&--select {
			color: $blue-text-color;
			font-weight: bold;
		}

		&:hover {
			background: $default-hover-bg;
		}

		&:active {
			background: $default-clicked-bg;
			box-shadow: $default-clicked-shadow;
		}

		&--is-disabled {
			color: $secondary-text-color;
			opacity: 0.5;
			pointer-events: none;
			@include switch-sprite-color("ico", "default");
		}
	}

	&__back-icon {
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		width: 16px;
		height: 16px;
	}

	&__list {
		border-bottom: 1px solid $separator-color;
	}

	&__empty,
	&__message {
		overflow-wrap: break-word;
	}

	&__empty {
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		min-height: 64px;
		background: $content-bg;
		color: $secondary-text-color;
		padding: 15px;
		text-align: center;
	}

	&__message {
		background: $content-bg;
		padding: 15px;
		text-align: center;
		border-bottom: 1px solid $separator-color;
	}
}
