@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;

/* Непрозрачная */
.desktop.gallery__open {
	overflow:hidden !important;
}
.gallery__open #scroll_page, .gallery__open #wrap_all, .gallery__open #debug {
	display:none;
}
.gallery__open .gallery {
	display: block
}

/* Прзрачная */
.gallery__page_shadow { display: none }
.gallery__transp_open .gallery {
	display: block;
	position: fixed;
}
.gallery__transp_open .gallery__page_shadow {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer
}
.gallery_fileselector .gallery__page_shadow {
	background: $gallery-page-overlay-bg
}
.gallery__transp_open {
	overflow: hidden;
}

.gallery__doc {
	min-height: 100% !important;
	height: 100%;
	position: relative;
}

/* Окно просмотрщика */
.gallery {
	display: none;
	position :absolute;
	top: 0; bottom: 0;
	left:0; right:0;
	z-index: 100000;
	overflow: hidden;
	touch-action: manipulation;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.pc .gallery {
	max-width: 900px;
	max-height: 800px;
	margin: auto;
}

.pc .gallery__fullcreen {
	max-width: 100%;
	max-height: 100%;
}

.pc.msie .gallery{
	width: 900px;
}

#gallery_img_z {
	max-width: none;
	max-height: none
}

/* Костыль */
.gallery__header .ico { margin: 0 }

/* Фон просмотрщика */
.gallery__shadow {
	background: $gallery-shadow-bg;
	@if ($PC) {
		filter: alpha(opacity=95);
		-moz-opacity: 0.95;
		opacity: 0.95;
	}
}

/* Шапка для фуллскрина */
.gallery__fs_header {
	z-index: 1100;
	display: none
}
.gallery__fullcreen .gallery__fs_header {
	display: block
}
.gallery__fs_btn {
	display: inline-block;
	background: $gallery-button-transparent-bg;
	color: $gallery-button-color;
	padding: 12px 10px;
	margin: 10px;
}

.gallery__fs_btn .ico_gallery_exit{
	margin: 0 2px;
}

/* Футер и шапка просмотрщика */
.gallery__wrapper, .gallery__header, .gallery__fs_header  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.gallery__header_inner {
	display: table;
	width: 100%;
	position: absolute;
	top: 0
}
.gallery__header, .gallery__footer {
	background: $gallery-panel-bg;
	text-align: center;
	z-index: 1100;
	right: 0;
	height: 50px;
	color: $gallery-text-color;
}

.gallery__footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	text-align: center;
	z-index: 1000;
}
.gallery__footer_table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	white-space: nowrap;
	table-layout: fixed;
}
.gallery__link {
	padding: 0;
	width: 25%;
	vertical-align: middle;
	cursor: pointer;
}
.gallery__footer_table td{
	border-right: 1px solid $gallery-separator-color;
}
.pc .gallery__link:hover, 
.gallery__link.js-clicked {
	background-color: $gallery-button-active-bg
}
.gallery__link.js-clicked a{
	color: $gallery-button-active-color;
}
.operamini .gallery__link:hover { /* Иначе не отжимается при лайке */
	background-color: transparent
}
.pc .gallery__link {
	width: 100px
}
.gallery__footer_table td.last {
	border-right: 0
}
.gallery__link a {
	display: block;
	padding: 10px;
	height: 20px;
	color: $gallery-button-color;
	line-height: 20px;
	text-decoration: none !important;
}

.gallery__link .ico,
.gallery__link .ico_gallery{
	margin: 0;
	vertical-align: middle;
}

.gallery__link_text{
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
}

.gallery__footer_table .disabled {
	opacity: 0.5;
}

/* Блокирующая загрузка */
.gallery__loader {
	right: 0; left: 0;
	position: absolute;
	background: $gallery-loading-bg url(/i/progress.gif) repeat-x;
	height: 5px;
	z-index: 9999999;
	display: none;
	top: 50px
}
.gallery__fullcreen .gallery__loader, 
.gallery_hide-toolbars .gallery__loader {
	top: 0
}
.gallery__loader_shadow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
.gallery__loading .gallery__loader, 
.gallery__lock .gallery__loader_shadow {
	display: block;
	z-index: 999;
}

/* Нотификация */
#gallery_notif {
	position: absolute;
	bottom: 50px;
	left: 0; right: 0;
	text-align: center;
}
.gallery__notif_inner {
	padding: 10px 36px 10px 10px;
	background: $gallery-notify-bg;
	color: $gallery-text-color;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	text-align: left;
}
.gallery__notif_inner a {
	color: $gallery-link-color;
	text-decoration: underline
}
.pc .gallery__notif_inner {
	margin-bottom: 5px;
	width: 360px;
}
.gallery__fs_btn,
.gallery__notif_inner{
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		    border-radius: 2px;
}

.gallery__notif_inner .gallery__notif_close{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 10px;
}

/* Описание */
.gallery__descr {
	position: absolute;
	height: 138px;
	bottom: 50px; left: 0px; right: 0px;
	color: $gallery-descr-color;
}

.gallery__descr{
	background: -webkit-linear-gradient(top, $gallery-descr-bg-start, $gallery-descr-bg-end);
	background: -moz-linear-gradient(top, $gallery-descr-bg-start, $gallery-descr-bg-end);
	background: -o-linear-gradient(top, $gallery-descr-bg-start, $gallery-descr-bg-end);
	background: -ms-linear-gradient(top, $gallery-descr-bg-start, $gallery-descr-bg-end);
	background: linear-gradient(top, $gallery-descr-bg-start, $gallery-descr-bg-end);
}

.touch .gallery__descr_text {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	text-align: center;
	padding: 0 10px 7px 10px;
}

.pc .gallery__descr_text{
	white-space: normal;
    padding: 0 10px;
	max-height: 35px;
	color: $gallery-descr-color;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pc .gallery__descr_text,
.pc .gallery__descr_text > div{
	overflow: hidden;
	text-overflow: ellipsis;
}

.gallery__image, .gallery a {
	-webkit-tap-highlight-color: transparent;
}

/* Кнопки в шапке */
.gallery__tools_button {
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	width: 50px;
	z-index: 1000;
	cursor: pointer;
}
.pc a.gallery__fs_btn:hover,
.pc .gallery__tools_button:hover {
	background-color: $gallery-button-active-bg !important;
}

/* Ошибка вместо изображения */
.gallery__error {
	color: $gallery-text-color;
	display: none;
	height: 100%;
	width: 100%;
	text-align: center;
}
.gallery__error_inner {
	display: table-cell;
	vertical-align: middle;
}
.gallery__show_error img.gallery__image, 
.gallery__show_error #galleryVideo {
	display: none !important
}
.gallery__show_error .gallery__error {
	display: table
}


/* Кнопка */
.gallery__button {
	display: inline-block;
	background: $gallery-button-bg;
	color: $gallery-button-color;
	border-radius: 3px;
	padding: 11px 20px;
	margin-top: 19px;
}
.gallery__button:hover {
	background: $gallery-button-active-bg;
}

.touch .gallery__button{
	margin-top: 7px;
}

.gallery__button .ico,
.gallery__button .ico_gallery {
	margin: 0 5px 0 0;
}

.gallery__tools_place {
	display: table-cell;
}

.gallery button.pgn__button,
.gallery .pgn input[type="submit"]{
	color: $pagination-link-color;
}

.gallery__shadow_error {
	background-color: $gallery-shadow-error-bg;
	position: absolute;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
.gallery-error_msg {
	position: absolute;
	color: $gallery-text-color;
	text-align: center;
	left: 0;
	right: 0;
}

.gallery__image, .gallery__shadow {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.gallery-anim .gallery-anim_hide {
	display: none !important
}

.gallery__image {
	margin:auto;
	max-height: 100%;
	max-width:100%;
}

.one_image .gallery__image {
	cursor: default;
}

.gallery__side {
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	z-index:100;
	cursor:pointer;
	-webkit-tap-highlight-color: transparent;
}

.gallery__side_prev {
	left:0;
}

.gallery__side_next {
	right:0;
}

.gallery__side-arrow {
	opacity: 0;
	filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s ease-out; 
       -moz-transition: opacity 0.3s ease-out; 
         -o-transition: opacity 0.3s ease-out; 
            transition: opacity 0.3s ease-out;
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -20px;
	-webkit-tap-highlight-color: transparent;
}

.touch .gallery__side-arrow {
	opacity: 1
}

.gallery__side-arrow_show .gallery__side-arrow {
	opacity: 0.5 !important;
	filter: alpha(opacity=50) !important;
  -webkit-transition: opacity 0.3s ease-out; 
     -moz-transition: opacity 0.3s ease-out; 
       -o-transition: opacity 0.3s ease-out; 
          transition: opacity 0.3s ease-out; 

}

/* Кнопки туда сюда для тача */
.gallery__touch .ico_gallery_arrow_left {
	left: auto; right: 15px;
}
.gallery__touch .ico_gallery_arrow_right {
	right: auto; left: 15px;
}
.gallery__touch .gallery__side {
	top: 35%;
    height: 35%;
	width: 65px;
}
.gallery__touch .gallery__side_prev {
	padding-left: 5%;
}
.gallery__touch .gallery__side_next {
	padding-right: 5%;
}
/****/

/* Кнопки туда сюда для Opera Mini */
.gallery__om .gallery__side {
	width: 50%
}
/****/

.gallery__arrows_hide .gallery__side-arrow, 
.gallery__nav_hide .gallery__side {
	display: none !important;
}

.gallery__wrapper {
	margin-top:40px;
	bottom:0;
	margin-bottom:40px;
	border-collapse: collapse;
	border-spacing: 0px;
}

.gallery__wrapper td {
	text-align:center;
	vertical-align:middle;
	padding:0;
}

.gallery__wrapper td .gallery__image {
	position: relative;
	max-height: 500px !important;
	display:inline;
}

.gallery__wrapper td .gallery__image-wrapper {
	margin-top:0;
	position: relative;
}

.gallery__image-wrapper{
	position: absolute;
	left:0;
	right:0;
	top:0;
	margin: 50px 0;
	bottom:0;
	/* overflow: hidden; */
}

.gallery_cnt-table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}

.gallery_cnt-table td{
	vertical-align: middle;
	height: 50px;
	padding: 0;
}

.gallery_video .gallery__side{
	display: none;
}

.gallery__video {
	display: flex;
	align-items: center;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.pc .gallery:hover .gallery__side-arrow {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.pc .gallery:hover .gallery__side:hover .gallery__side-arrow{
	opacity: 1;
	filter: alpha(opacity=100);
}

.gallery_hide-toolbars #gallery_tools,
.gallery_hide-toolbars #gallery_bottom, 
.gallery_hide-toolbars .gallery__descr, 
.touch .gallery_hide-toolbars .gallery__side, 
.gallery_hide-toolbars #gallery_notif {
	display:none;
}

.gallery_hide-toolbars .gallery__image-wrapper {
	margin: 0px;
}

/* Текст подсказки закрытия */
#gallery_close_msg > span {
	position: absolute;
	left: 0;
    right: 0;
}
#gallery_close_msg {
	text-align: center;
	color: $gallery-text-color;
	font-weight: 700;
	display: none;
	position: absolute;
	left: 0;
    right: 0;
}

/* Затухание футеров при закрытии */
.gallery__footer, .gallery__header, .gallery__descr {
	opacity: 1;
    -webkit-transition: opacity 0.3s ease-out; 
	   -moz-transition: opacity 0.3s ease-out; 
	     -o-transition: opacity 0.3s ease-out; 
	        transition: opacity 0.3s ease-out; 
}

/* Соседние изображения */
#gallery-siblings {
	display: none
}
.gallery-sibling {
	display: none
}
.gallery-anim .gallery-sibling {
	display: block
}
.gallery-anim #gallery-siblings {
	display: block;
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
}

.gallery-anim .accel-3d {
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-o-perspective: 1000;
	-ms-perspective: 1000;
	-moz-perspective: 1000;
	-webkit-perspective: 1000;
	perspective: 1000;
}

.gallery-img_loading img {
	background-color: $gallery-image-loading-bg;
	background-image: url(/i/preloader_dark.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: 65px !important;
	height: 65px !important;
	opacity: 0.9;
	border-radius: 5px;
}

/* files_selector */
.pc .gallery_fileselector .gallery__image-wrapper {
	margin: 48px 0 0 0;
	overflow: auto;
}

.gallery_fileselector .gallery__image-wrapper {
	background: $body-bg;
}

.touch .gallery_fileselector,
.touch .gallery_fileselector .gallery__image-wrapper {
	position: relative;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
}
.gallery_fileselector {
	overflow: visible
}
.touch .gallery_fileselector .gallery__image-wrapper {
	padding-top: 50px;
	margin-top: 0;
}

/* Контейнер с сиблингами и гланой картинкой */
.gallery-anim #gallery-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	touch-action: none;
}

/* DND (хз вообще что тут эти классы делают) */
.upload-dnd_msg_show {
	position: relative
}

.upload-dnd_msg {
	position: absolute;
	color: $secondary-text-color;
	background: $upload-dnd-bg;
    border: 3px dashed $upload-dnd-border;
	text-align: center;
	top: 0; left: 0;
	right: 0; bottom: 0;
	z-index: 99999999999999999;
	margin: 0;
    display: none
}
#MailPage .upload-dnd_msg {
	margin: 10px
}
.upload-dnd_msg .js-dnd_msg {
	position: absolute;
	text-align: center;
	top: 50%;
	margin-top: -0.5em;
	left: 0; right: 0;
}
.upload-dnd_msg_show .upload-dnd_msg {
	display: block
}
.upload-dnd_msg_active {
	background: $upload-dnd-active-bg;
	border-color: $upload-dnd-active-border;
	color: $green-text-color;
}

/* FIXME: У плеера должен быть режим FLUID? */
#Gallery {
	.video-player_container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		min-height: 0;
	}

	.video-player_wrap {
		width: 100%;
		height: 100%;

		&::before {
			display: none;
		}
	}

	.video-player {
		width: 100%;
		height: 100%;
		position: static;
	}
}

/* Иконка play для gif */
.gallery__play_btn {
	display: none;
}

.gallery__gif .gallery__play_btn {
	display: block;
}

.gallery__gif_playing .gallery__play_btn,
.gallery-img_loading .gallery__play_btn {
	display: none;
}

/* Иконки */
@include define-icon("ico_gallery", "reload");
@include define-icon("ico_gallery", "eye");
@include define-icon("ico_gallery", "select");
@include define-icon("ico_gallery", "plus_white");
@include define-icon("ico_gallery", "share");
@include define-icon("ico_gallery", "dots");
@include define-icon("ico_gallery", "complaint");
@include define-icon("ico_gallery", "download");
@include define-icon("ico_gallery", "exit");
@include define-icon("ico_gallery", "fullscreen");
@include define-icon("ico_gallery", "mess");

@include define-icon("ico_gallery", "arrow_left") {
	left: 10%;
}
@include define-icon("ico_gallery", "arrow_right") {
	right: 10%;
}

.pc {
	@include replace-icon("ico_gallery", "arrow_left", "arrow_left2");
	@include replace-icon("ico_gallery", "arrow_right", "arrow_right2");
}

/* Голосовалка */
@include define-icon("ico_gallery", "vote_down");
@include define-icon("ico_gallery", "vote_up");
.js-clicked {
	@include replace-icon("ico_gallery", "vote_down", "vote_down_active");
}
.js-clicked {
	@include replace-icon("ico_gallery", "vote_up", "vote_up_active");
}

/* Иконка зума */
@include define-icon("ico_gallery", "zoom");
.gallery__zoom {
	@include replace-icon("ico_gallery", "zoom", "unzoom");
}
