@use "Common/Theme" as *;
.touch .lh_160 a, 
.touch_light .lh_160 a {
	line-height: 100%
}

.touch .lh_160 a, 
.touch_light .lh_160 a {
	padding:7px 0;
	display: inline-block;
}

.touch .lh_160 a.break-word, 
.touch_light .lh_160 a.break-word {
	display: block;
}

.lc_brw {
	display: inline;
	white-space: normal;
}

.lc_br a {
	display: inline;
	white-space: normal;
}

.lc_br a, .lc_br, .lc_brw {
	word-wrap: break-word;
	word-break: break-all;
	hyphens: auto;
}

.input-txt {
	min-height: 0 !important
}

.pni, .pgfs {
	height: auto !important
}

.operamini .error input[type="text"],
.operamini .error_block input[type="text"] {
	background:$input-bg
}

.operamini .image_limit .preview,
.operamini .attaches-fixer .preview{
	width: 100%;
	height: auto;
	max-height: none
}

.operamini .code_tag {
	max-height: none;
	overflow: auto;
	word-wrap: break-word;
}

body.operamini20.android input.search__btn {
	min-height: 40px;
}

.touch_light.operamini .input-txt_wrapper_inline .input-txt{
	width: 60%;
}
