@use "Common/Theme" as *;
@use "spacepack/build/variables" as *;

.message{
	background: $content-bg;
	padding: 15px 15px 0 15px
}

.message:last-child{
	padding-bottom: 15px
}

.message,
.message__wrapper{
	position: relative
}

.message__wrapper .att_wrap {
	border: 1px solid $default-border-color
}

.message__avatar{
	position: absolute;
	top: 0;
	width: 40px;
	height: 40px;
	overflow: hidden
}

.message-block_my .message__avatar{
	right: 0
}

.message-block_my .message__description{
	margin-right: 55px
}

.message-block_foreign .message__avatar{
	left: 0
}

.message-block_foreign .message__description{
	margin-left: 55px;
	cursor: pointer
}

.operamini .message-block_foreign .message__description{
	cursor: default
}

.message__description{
	background: $chat-message-incoming-bg;
	padding: 13px 10px;
	position: relative
}

.message__description:before{
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	height: 0;
	width: 0;
	border: 8px solid transparent
}

.message-block_my .message__description{
	background: $chat-message-outgoing-bg
}

.message-block_my .message__description:before{
	left: auto;
	right: -15px;
	border-left-color: $chat-message-outgoing-bg
}

.message-block_foreign .message__description:before{
	right: 100%;
	border-right-color: $chat-message-incoming-bg
}

.message-block_my.message-block_system .message__description,
.message-block_system .message__description{
	background: $chat-message-system-bg;
	cursor: default
}

.message-block_my.message-block_system .message__description:before{
	border-left-color: $chat-message-system-bg
}

.message-block_foreign.message-block_system .message__description:before{
	border-right-color: $chat-message-system-bg
}

.message-block_private .message__description{
	background: $chat-message-private-bg
}

.message-block_my.message-block_private .message__description:before{
	border-left-color: $chat-message-private-bg
}

.message-block_foreign.message-block_private .message__description:before{
	border-right-color: $chat-message-private-bg
}

.message-block_personal .message__description{
	background: $chat-message-answer-bg
}

.message-block_my.message-block_personal .message__description:before{
	border-left-color: $chat-message-answer-bg
}

.message-block_foreign.message-block_personal .message__description:before{
	border-right-color: $chat-message-answer-bg
}

.message-block_znayko .message__description{
	background: $chat-message-quest-bg;
	cursor: default
}

.message-block_foreign.message-block_znayko .message__description:before{
	border-right-color: $chat-message-quest-bg
}

.message__description.selected {
	background: $chat-message-selected-bg;
}

.message__description.selected:before {
	border-right-color: $chat-message-selected-bg !important
}

.message__user,
.message__text{
	color: $default-text-color
}

.message__user {
	margin-bottom: 7px;
	padding-right: 10px;
}

.message__date,
.message__place{
	color: $secondary-text-color
}

.message__place{
	padding-bottom: 6px;
}

.message__text{
	white-space: normal;
	word-wrap: break-word;
}

.message-block_system .message__text{
	color: $secondary-text-color
}

.message__text_private{
	padding-left: 20px;
	position: relative
}

.message__text_private .side-icon{
	margin: 0 0 -2px -19px
}

.message-block_foreign .message__date{
	margin-right: 13px
}

.message-block_my .message__date,
.message-block_foreign .message__user{
	float: left
}

.message-block_foreign .message__date,
.message-block_my .message__user{
	float: right
}

.message-block_my .message__flag{
	margin-right: 5px
}

.message-block_foreign .message__flag{
	margin-left: 5px
}

.message-block_my .online-status{
	margin-left: 5px;
	margin-right: 0
}

.message-block_foreign .online-status{
	margin-right: 3px
}

.message__inner-message{
	margin-left: 50px;
	min-height: 40px
}

.message-block_no-avatar .message__description{
	margin-left: 0;
	margin-right: 0
}

.message-block_no-avatar .message__description:before{
	display: none
}

.btn-tools .ico_lock,
.btn-tools .ico_lock_open{
	margin: 0 auto;
    display: block;
}

.chat_recipient{
	padding-top: 4px;
}

.firefox.android .btn-tools_centered{
	    margin-top: -19px;
}

.marriage__wrap .list-link{
	border-bottom: 0 !important;
}

.marriage__wrap .list-link__wrap:first-child .list-link{
	padding-bottom: 7px;
}

.marriage__wrap .list-link__wrap:last-child .list-link{
	padding-top: 8px;
}

.marriage__date{
	position: absolute;
	right: 15px;
	top: 50%;
	color: $secondary-text-color;
	margin-top: -14px;
	text-align: center;
	z-index: 10;
}

.marriage__reg-date{
	margin-top: 4px;
}

.cur_default{
	cursor: default !important;
}

.item-position{
	position: absolute;
	right: 15px;
	top: 50%;
	color: $secondary-text-color;
	margin-top: -10px
}

@if ($DARK_MODE) {
	.message__wrapper {
		.blog-item_short_shared, .quote, .code_tag, .att_wrap {
			background: $chat-bubble-bg;
		}
	}
}
