@use "Common/Theme" as *;
.soc .link {
	color: $soc-link-color;
	background: transparent;
}

.soc.vk {
	background: $soc-link-vk-bg;
}

.soc.spcs {
	background: $soc-link-spcs-bg;
}

.soc.odnk {
	background: $soc-link-ok-bg;
}

.soc.fb {
	background: $soc-link-fb-bg;
}

.soc.mymir {
	background: $soc-link-mymir-bg;
}

.soc.google {
	background: $soc-link-google-bg;
}

.soc.yandex {
	background: $soc-link-yandex-bg
}

.soc.tg {
	background: $soc-link-telegram-bg
}
