@use "Common/Theme" as *;
.soc .link {
	color: $soc-link-color;
	background: transparent;
}

.vk {
	background: $soc-link-vk-bg;
}

.spcs {
	background: $soc-link-spcs-bg;
}

.odnk {
	background: $soc-link-ok-bg;
}

.fb {
	background: $soc-link-fb-bg;
}

.mymir {
	background: $soc-link-mymir-bg;
}

.google {
	background: $soc-link-google-bg;
}

.yandex {
	background: $soc-link-yandex-bg
}

.tg {
	background: $soc-link-telegram-bg
}
