@use "Common/Theme" as *;
.tags-cloud {
	padding: 7px 8px 8px 7px;
	text-align: justify;
	font-size: 0
}

.tags-cloud__item a {
	padding: 7px 8px 8px 7px;
	display: inline-block;
}

.tags-cloud__item {
	width: 49%;
	text-align: center;
	display: inline-block;
	vertical-align: center;
}

@media (min-width: 500px) {
	.tags-cloud__item {
		width: 24%;
	}
}
