@use "Common/Theme" as *;

.toolbar__wrap {
	background: $content-bg;
}

.toolbar-color {
	width: 25px;
	height: 25px;
	margin: 5px 3px 3px;
	display: inline-block;
	border: 1px solid $colorpicker-color-border;
}

.toolbar a.js-clicked {
	display: block;
}

.toolbar .list-link {
	padding: 10px;
	border-bottom: 1px solid $input-border;
	display: block;
}

.toolbar tr:last-child .list-link {
	border-bottom: 0;
}

.toolbar__wrap {
	border-radius: 3px 3px 0 0;
	margin-bottom: -3px;
	padding-bottom: 2px;
}
.toolbar__wrap table {
	border: 1px solid $input-border;
	border-spacing: initial;
	border-bottom: 0;
}

toolbar__dropdown-menu {
	left: -10px;
	margin-top: 0;
	right: -10px;
	top: 0;
}

.text-input__wrap .toolbar {
	margin-right: -20px;
}

.toolbar table {
	width: 100%;
}

.toolbar td,
.toolbar .hide td:last-child {
	text-align: center;
	border-right: 1px solid $input-border;
}

.toolbar tr {
	text-align: center;
}

.cntBl {
	color: $secondary-text-color;
	position: absolute;
	bottom: calc(-1em - 1px);
	right: 0;
	z-index: 10;
	font-size: 10px;
	line-height: 100%;
}
