@use "Common/Theme" as *;
@use "spacepack/build/variables" as *;

.cat_editor,
#cat_editor_new							{padding: 5px; margin: 5px; border: solid 1px $default-border-color; border-radius: 3px; background-color: $content-bg;}
.cat_editor small,
#cat_editor_new small					{color:$secondary-text-color;}
.cat_editor hr,				
#cat_editor_new hr						{height: 1px; border: 0px; background-color: $separator-color; margin: 5px -5px;}
.cat_editor_meta						{float:left;}
.cat_editor_orient						{float:right;}
.cat_editor_langs,
.cat_editor_lang_title,
.cat_editor_lang_title_new				{display: flex; width: 100%; margin-bottom: 2px;}
.cat_editor_lang_title *,
.cat_editor_lang_title_new *			{margin: 0 1px;}
.cat_editor_lang						{flex-basis: 50%; margin: 3px; padding: 5px; border-radius: 3px; border: solid 1px $default-border-color;}
.cat_editor_lang_name					{background-color: $list-item-info-bg; padding: 0px 5px;}
.cat_editor_lang_descr					{padding-right: 5px;}
.cat_editor_lang_descr *				{width: 100%;}
.cat_editor .cat_editor_lang_name		{display: inline; float: right; margin: -6px; border-radius: 0 3px 0 0;}
#cat_editor_new .cat_editor_lang_name	{padding: 1px 2px 3px 3px; margin-right: 0; border-radius: 3px 0 0 3px;}
.cat_editor_lang_title_deleted			{padding: 3px; background-color: $bubble-bg; border: solid 1px $default-border-color; border-radius: 3px; font-size: 13px; margin: 1px 0;}
.cat_editor_lang input					{width:99%; flex-shrink:100%}
.cat_editor_delete						{float:left}
.cat_editor_delete_sure					{float:left; margin-left: 15px;}
.cat_editor_done						{float:right;}
.cat_editor_saving						{float:right; font-size:10pt; color:$secondary-text-color;}
