@use "Common/Theme" as *;
.c-letter__wrap{
    background: $content-bg;
    margin: 0;
}

.c-letter__stnd{
    padding: 15px;
}

.c-letter__btn{
    border-top: 1px solid $separator-color;
    font-weight: normal;
    padding: 12px 0 !important;
}

.c-letter__btn:active{
    padding: 13px 0 11px 0 !important;
}

.c-letter__search-btn .ico{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.c-letter__more-btn{
    background: $default-clicked-bg !important;
}

#select_letter_btn.js-clicked:after{
    display: block !important;
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    margin-left: -10px;
    margin-top: 1px;
    border: 10px solid transparent;
    border-bottom-color: $dropdown-body-bg;
    z-index: 100;
}
