@use "Common/Theme" as *;
@use "Common/Utils" as *;

.cookie-banner {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10001;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;

	padding: 14px 18px;

	background: $cookie-banner-bg;
	color: $cookie-banner-text-color;

	&__link {
		color: $cookie-banner-link-color;
		text-decoration: underline !important;

		&:hover {
			color: $cookie-banner-link-hover-color;
		}
	}

	&__button {
		background: $cookie-banner-button-bg;
		color: $cookie-banner-button-color;
		padding: 8px 18px;
		border-radius: 4px;
		cursor: pointer;

		transition: background 0.15s ease, opacity 0.15s ease;
		white-space: nowrap;
		text-align: center;

		&:hover {
			background: $cookie-banner-button-hover-bg;
		}
	}

	@media (max-width: 600px) {
		& {
			flex-direction: column;
			align-items: stretch;
			justify-content: center;
		}
	}
}
