@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;

.dialog {
	--transition-timeout: 300ms;

	display: flex;
	visibility: hidden;
	flex-direction: column;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	opacity: 1;

	background: $dialog-bg;
	box-sizing: border-box;
	overflow: hidden;
	transition: opacity .25s ease, visibility .25s linear;
	transform-origin: right bottom;
	backface-visibility: hidden;

	box-shadow: $dialog-shadow;
	border-radius: 16px;

	&--is-interacting {
		iframe {
			pointer-events: none;
		}
	}

	&--mode-fullscreen {
		top: auto;
		bottom: 0;
		border-radius: 0;
		width: var(--100dvw);
		height: var(--100dvh);
		transform: translate(0, 0);

		&[data-dialog-collapsed="true"] {
			transform: translate(0, calc(var(--100dvh) - 48px));
		}

		&[data-dialog-open="false"] {
			transform: translate(0, calc(var(--100dvh)));
		}
	}

	&--mode-window {
		width: var(--w);
		height: var(--h);
		transform: translate(var(--x), var(--y));

		&[data-dialog-collapsed="true"] {
			width: 240px;
			transform: translate(calc(var(--100dvw) - 240px - 25px), calc(var(--100dvh) - 48px));
		}

		opacity: 0;

		&[data-dialog-open="true"] {
			opacity: 1;
		}
	}

	&--transition-out {
		transition:
			transform var(--transition-timeout) ease-out,
			width var(--transition-timeout) ease-out,
			opacity var(--transition-timeout) ease-out;
	}

	&--transition-in {
		transition:
			transform var(--transition-timeout) ease-in,
			width var(--transition-timeout) ease-in,
			opacity var(--transition-timeout) ease-in,
			visibility var(--transition-timeout) ease-in;
	}

	&[data-dialog-open="true"] {
		visibility: visible;
	}

	&__header {
		display: flex;
		border-bottom: 1px solid $dialog-header-separator;
		user-select: none;
		padding: 0 3px;
		box-sizing: border-box;
	}

	&__header-title {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		font-weight: bold;
		padding: 0 10px;

		.dialog[data-dialog-collapsed="true"] & {
			cursor: pointer;
		}
	}

	&__header-button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		width: 48px;

		position: relative;
		cursor: pointer;
		z-index: 0;
		user-select: none;

		&::after {
			content: '';
			position: absolute;
			left: 5px;
			top: 5px;
			right: 5px;
			bottom: 5px;
			background: $dialog-header-button-hover-bg;
			border-radius: 50%;
			z-index: -1;

			will-change: opacity;
			opacity: 0;
			transition: opacity 0.15s ease;
		}

		&:hover::after {
			opacity: 1;
		}
	}

	&__content {
		background: $content-bg;
		flex: 1;
	}

	&__resize-border {
		position: absolute;

		&--dir-top {
			height: 8px;
			top: 0;
			left: 0;
			right: 0;
		}

		&--dir-bottom {
			height: 8px;
			bottom: 0;
			left: 0;
			right: 0;
		}

		&--dir-left {
			width: 8px;
			top: 0;
			bottom: 0;
			left: 0;
		}

		&--dir-right {
			width: 8px;
			top: 0;
			bottom: 0;
			right: 0;
		}
	}
}

.popper-dropdown {
	display: none;
	z-index: 1101;
	border: 10px solid $dropdown-body-bg;
	background: $content-bg;
	box-shadow: $default-block-shadow;
	box-sizing: border-box;
	scroll-margin: 15px;

	&[data-popper-open="true"] {
		display: block;
	}

	&--with-opacity-animation {
		display: block;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		transition:
			opacity 150ms ease-in,
			visibility 0s linear 150ms;

		&[data-popper-open="true"]:not([data-popper-is-closing="true"]) {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;

			transition:
				opacity 150ms ease-out,
				visibility 0s linear 0s;
		}
	}

	&::after {
		position: absolute;
		width: 0;
		height: 0;
		content: '';
	}

	&[data-popper-placement^='top']::after {
		bottom: -20px;
		left: var(--popper-arrow-offset);
		transform: translateX(-50%);
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid $dropdown-body-bg;
	}

	&[data-popper-placement^='bottom']::after {
		top: -20px;
		left: var(--popper-arrow-offset);
		transform: translateX(-50%);
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $dropdown-body-bg;
	}

	&[data-popper-placement^='left']::after {
		right: -20px;
		top: var(--popper-arrow-offset);
		transform: translateY(-50%);
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid $dropdown-body-bg;
	}

	&[data-popper-placement^='right']::after {
		left: -20px;
		top: var(--popper-arrow-offset);
		transform: translateY(-50%);
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid $dropdown-body-bg;
	}

	&__spacing {
		padding-bottom: 10px;
		background: $dropdown-body-bg;
	}

	// Куда же без костылей
	& > .widgets-group {
		margin: 0;
	}
}

.popper-spoiler {
	display: none;

	&[data-popper-open="true"] {
		display: block;
	}
}

.popper-link {
	&:not([data-popper-open="true"]) {
		.popper-link__open {
			display: none;
		}
	}

	&[data-popper-open="true"] {
		.popper-link__closed {
			display: none;
		}
	}
}

/*
 * LEGACY DD MENU
 */

.user__dropdown-menu {
	top: 100%;
	left: -10px;
	right: -10px;
	margin-top: 20px;
}

.block-item__btn-wrap .user__dropdown-menu{
	top: auto;
}

.inner__dropdown-menu {
	margin-top: 0;
	right: 0; left: 0;
}

.drop-down-list{
	margin-top: 20px;
	left: -25px;
	right: -25px;
	text-align: left;
}

.drop-down-list2,
.tool_block .drop-down-list {
	margin-top: 20px;
	left: -10px;
	right: -10px;
}

.tool_block .drop-down-list {
	margin-top: 15px;
}

.drop-down-list_inner{
	position: absolute;
	right: 0;
	top: 0;
	line-height: 1.15;
}

.js-input_error_wrap .drop-down-list_inner {
	top: 9px; /* padding-top + border */
}

.ac-settings_inline_bottom_fix .drop-down-list_inner{
	display: none
}

.ac-settings_inline{
	position: relative;
	z-index: 100;
}

.ac-settings_inline .drop-down-list_inner{
	top: 0;
}

.ac-settings_inline_fix{
	margin-top: 10px;
}

.ac-settings_inline_fix .drop-down-list_inner{
	left: 0;
	position: relative;
}

.ac-settings_inline_fix .drop-down-list_inner .drop-down-label{
	float: none;
}

.drop-down-list_inner .drop-down-label{
	background: $content-bg;
	margin-right: 9px;
	float: right;
	color: $inline-link-grey-color;
	margin-top: 0;
	padding-bottom: 5px;
	padding-left: 3px
}

.drop-down-label{
	display: inline-block;
	position: relative;
	cursor: pointer;
	color: $inline-link-darkblue-color;

	&--is-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&--is-readonly {
		pointer-events: none;
	}
}

.touch .drop-down-label_area {
	margin: -10px 0;
	padding: 10px 0
}

@if ($PC) {
	.drop-down-label:hover,
	.drop-down-label:hover .t,
	.drop-down-label.js-clicked:hover, 
	.drop-down-label.js-clicked:hover .t{
		color: $inline-link-default-hover-color;
	}
}

.drop-down-label_single{
	color: $inline-link-grey-color;
}

.drop-down-label_single.js-clicked, 
.drop-down-label_single.js-clicked .t, 
.drop-down-label.js-clicked, 
.drop-down-label.js-clicked .t {
	color: $inline-link-default-clicked-color;
}

.drop-down-label_selector {
	padding: 0 18px 0 0;
}

.drop-down-label_selector.js-clicked:after {
	margin-top: -5px;
}

.dropdown-menu_selector {
	margin-top: 15px;
}

.drop-down-label_selector > .ico_place,
.drop-down-label_selector > .ico_arr_down{
	top: 50%;
	margin: -8px 0 0 0 !important;
	position: absolute;
}

.drop-down-label_selector > .ico_place{
	left: 0;
	margin-top: -10px !important;
}

.drop-down-label_selector > .ico_arr_down{
	right: 0;
}

.dropdown-menu__wrap{
	display: none;
	position: absolute;
	z-index: 1101;
	background: $dropdown-body-bg;
	padding: 10px;
	-webkit-box-shadow: $default-block-shadow;
	   -moz-box-shadow: $default-block-shadow;
		box-shadow: $default-block-shadow;
}

.table__cell .dropdown-menu__wrap{
	text-align: left;
}

.dropdown-menu, 
.widgets-group.dropdown-menu {
	margin: 0;
	overflow: hidden;
}

.widgets-group.dropdown-menu {
	@if ($dropdown-body-shadow) {
		-webkit-box-shadow: $dropdown-body-shadow;
		-moz-box-shadow: $dropdown-body-shadow;
			box-shadow: $dropdown-body-shadow;
	}
}

/* Стрелочка, указывающая на меню */
.triangle, 
.table__cell .clicked:after,
.btn-tools.js-clicked:after,
.drop-down-label.js-clicked:after,
.ico-menu-toggle.js-clicked:after,
.triangle-show.js-clicked:after,
.triangle-block:after,
.triangle-block:before,
.link-menu_light.js-clicked:after,
.inline_dd_menu_link.js-clicked:after {
	display: block;
	position: absolute;
	content: '';
	top: 100%;
	left: 50%;
	margin-left: -10px;
	margin-top: 1px;
	border: 10px solid transparent;
	border-bottom-color: $dropdown-body-bg;
	z-index: 1100;
}

.js-popper_open::after {
	display: none !important;
}

.btn-tools.js-clicked.js-popper_open:after {
	display: none;
}

.triangle {
	margin-top: 0;
	top: -20px;
}

.triangle-bottom {
	top: 100%;
	border-bottom-color: transparent;
	border-top-color: $dropdown-body-bg
}

.triangle-show.triangle-block:after, 
.triangle-show.triangle-block:before {
	top: -20px;
	right: 50%;
	left: auto;
	margin: 0 -10px 0 0;
	border: 10px solid transparent;
	border-bottom-color: $dropdown-body-bg;
}

.triangle-show.triangle-left:after, 
.triangle-show.triangle-left:before {
	left: 30px;
	right: auto;
}

.triangle-show.triangle-block.triangle-white:after {
	border-bottom-color: $content-bg;
}

.triangle-show.triangle-block:before {
	border-bottom-color: $dropdown-body-contrast-bg;
}

.triangle-hide::after {
	z-index: 0 !important;
	display: none !important;
}

.triangle-show{
	overflow: visible !important;
}

.btn-light.js-clicked:after,
.drop-down-short.js-clicked:after{
	margin-top: 2px;
}

.btn-tools.js-clicked:after{
	margin-top: -11px;
}

.ico-menu-toggle.js-clicked:after{
	margin-top: 0;
}

.drop-down-label__spoiler.js-clicked:after {
	display: none !important
}

.drop-down-label.drop-down-label_spoiler:after{
	display: none;
}

.js-attach.drop-down-label.js-clicked:after, 
.inline-link.drop-down-label.js-clicked:after{
	margin-top: 2px;
}

.link-menu_light.js-clicked:after{
	border-bottom-color: $content-bg;
}

.dropdown-menu_text{
	margin: 0;
	padding: 10px 15px;
	background: $content-bg;
	color: $secondary-text-color;
	position: relative;
}

.ico-menu-toggle{
	position: relative;
	height: 16px;
}

.acw-wrapper_block .ico-menu-toggle{
	width: 45px;
	height: 16px;
	padding: 13px 0;
	text-align: center;
	display: block;
}

.acw-wrapper_block .ico-menu-toggle.js-clicked:after{
	margin-top: -16px;
}

.acw-wrapper_block .drop-down-list2{
	margin-top: 4px;
}

.inline_dd_menu_link.js-clicked{
	color: $inline-link-default-clicked-color !important;
}
