@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;


.lp_notif_wrapper {
	position:absolute;
	left:50%;
	z-index:1000;
	text-align:center;
	top:0;
	display:inline-block;
}

.lp_notif_wrapper_fixed{
	position:fixed;
}

.lp_notif_message{
	color: $lp-notif-text-color;
	background: $lp-notif-bg;
	border:1px solid $lp-notif-border;
	display:inline-block;
	padding:4px;
	border-top:0;
	cursor:pointer;
}

.lp_notif_message-fade {
	opacity: 0.5
}

.lp_notif_message-fade:hover {
	opacity: 1
}

.top_notif_place{
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:2000;
}

.top_notif_place div:first-child{
	margin-bottom:0;
	margin-top:0;
}

.notification_counter{
	background: $system-message-counter-bg;
	color: $system-message-counter-text;
	border: 1px solid $system-message-counter-border;
	padding: 1px 3px;
	margin-right: 2px;
	position: relative;
}

.notification_counter:before {
	background: $system-message-counter-bg;
	border: 1px solid $system-message-counter-border;
	content: "";
	position: absolute;
	top: -3px;
	bottom: 1px;
	right: 1px;
	left: -3px;
	z-index: -1;
}

.lp_notif_message{
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
