@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;

.sidebar-bg {
	background: $sidebar-bg;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	@if (not $DARK_MODE) {
		&--dark {
			background: $sidebar-dark-bg;
		}
	}
}

.sidebar--noicons {
	.ico_sidebar, .sidebar-item__avatar {
		display: none
	}
}

.sidebar {
	position: relative;
	float: left;
	overflow: hidden;
	width: 0;
	display: none;
	z-index: 100;
	
	@if ($PC) {
		&__section {
			margin-bottom: 20px
		}
	}
	
	&__link {
		color: $sidebar-link;
	}
	
	&__avatar-link {
		height: 40px;
		line-height: 40px;
		@if ($PC) {
			font-weight: bold;
		}
	}
	
	&__search {
		padding: 5px;
		position: relative;
		@if ($TOUCH) {
			border-bottom: 1px solid $sidebar-item-bottom-border;
		}
	}
	
	.root--is-sidebar-open & {
		display: block;
		width: if($PC, 218px, 70%);
	}
}

.sidebar-input {
	width: 100%;
	box-sizing: border-box;
	padding: if($PC, 5px 35px 4px 7px, 6px 35px 6px 7px);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin:0;
	background: $sidebar-input-bg;
	color: $sidebar-input-text;
	border:1px solid $sidebar-input-border;
	
	&:focus {
		outline: none;
		background: $input-focused-bg;
		border: 2px solid $input-focused-border;
		padding: if($PC, 4px 36px 3px 6px, 5px 36px 5px 6px);
	}
}

.sidebar-item {
	position: relative;
	overflow: hidden;
	
	@if ($TOUCH) {
		border-top: 1px solid $sidebar-item-top-border;
		border-bottom: 1px solid $sidebar-item-bottom-border;
		
		&:first-child {
			border-top: none;
		}
	}
	
	&--section {
		font-weight: bold;
		@if ($TOUCH) {
			border-top: none;
			background: $sidebar-title-bg;
			margin-bottom: -1px;
		} @else {
			text-transform: uppercase;
		}
	}
	
	&__title, &__link {
		display: block;
		color: $sidebar-item-color;
		padding: if($PC, 8px 15px, 10px 15px);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	&--with-counter &__link {
		padding-right: 40px;
	}
	
	@if ($PC) {
		&__link:hover {
			background: $sidebar-item-hover-bg
		}
		
		&__link:active {
			color: $default-text-color;
			background: $default-clicked-bg;
			
			-webkit-box-shadow: $default-clicked-shadow;
			-moz-box-shadow: $default-clicked-shadow;
			box-shadow: $default-clicked-shadow;
		}
	}
	
	&__avatar img {
		width: 16px;
		height: 16px;
		@include icon-middle-align(16);
		margin-right: 6px;
	}
	
	&__settings {
		position: absolute;
		margin-top: -12px;
		padding: 3px 4px 5px;
		right: 11px;
		top: 50%;
	}
	
	&__cnt {
		position: absolute;
		padding: 8px 15px;
		right: 0;
		top: 0;
	}
}

a.sidebar-item__cnt:hover .small_cnt {
	opacity: 0.5
}

@if (not $DARK_MODE) {
	/* Тёмная тема */
	.sidebar--dark {
		background: $sidebar-dark-bg;
		@include switch-sprite-color("ico_sidebar", "white");
		
		.sidebar-input {
			background: $sidebar-dark-input-bg;
			border: 1px solid $sidebar-dark-input-border;
			color: $sidebar-dark-input-color;
		}
		
		.sidebar-input:focus {
			background: $sidebar-dark-input-focus-bg;
			border: 2px solid $sidebar-dark-input-focus-border;
		}
		
		.sidebar-item, .sidebar__search {
			border-top-color: $sidebar-dark-item-top-border;
			border-bottom-color: $sidebar-dark-item-bottom-border;
		}
		
		@if ($TOUCH) {
			.sidebar-item--section {
				background: $sidebar-dark-title-bg;
			}
		}
		
		.sidebar-item__title, .sidebar-item__link {
			color: $sidebar-dark-item-color;
			text-shadow: $sidebar-dark-item-shadow;
		}
		
		@if ($PC) {
			.sidebar__link {
				color: $sidebar-dark-link-color;
			}
			
			.sidebar-item__link:hover {
				background: $sidebar-dark-item-hover-bg
			}
			
			.sidebar-item__link:active {
				color: $sidebar-dark-item-clicked-color;
				background: $sidebar-dark-item-clicked-bg;
				-webkit-box-shadow: $sidebar-dark-item-clicked-shadow;
				-moz-box-shadow: $sidebar-dark-item-clicked-shadow;
				box-shadow: $sidebar-dark-item-clicked-shadow;
			}
		}
	}
}

#main_shadow{
	position:relative;
}

.root {
	&__overlay {
		display: none;
		position: absolute;
		z-index: 500000;
		top: 0;
		bottom: 0;
		right: 0;
		cursor: pointer;
		background: $sidebar-overlay;
		opacity: 0.5;
		left: if($PC, 218px, 70%);
	}
	
	&__foreground {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $body-bg;
		left: if($PC, 218px, 70%);
	}
	
	&--is-sidebar-open &__foreground, &--is-sidebar-open &__overlay {
		display: block
	}
	
	&--is-sidebar-open &__content {
		margin-right: if($PC, -120%, -240%);
	}
	
	&--is-sidebar-open #top_info_block {
		display: none
	}
}

/* Для широких экранов сразу показываем сайдбар */
@media all and (min-width: 900px) {
	.sidebar {
		display: block;
		width: if($PC, 24.2%, 272px);
	}
	
	.to {
		display: none;
	}
	
	#home_link_td {
		display: none;
	}
	
	.root__foreground {
		display: block;
		left: if($PC, 24.2%, 272px);
		z-index: 101;
		top: 44px;
		-webkit-box-shadow: $sidebar-shadow;
		-moz-box-shadow: $sidebar-shadow;
		box-shadow: $sidebar-shadow;
	}
	
	#main_content_block {
		z-index: 102;
	}
	
	.main {
		border-left: none !important;
		border-right: none !important;
	}
	
	#wrap_all {
		max-width: 900px;
		margin: 0 auto;
		width: auto;
		overflow: visible !important;
	}
	
	#main_shadow, #top_info_block {
		border-left: 1px solid $sidebar-left-border;
	}
}

/* ХЗ что это */
#quick_top_links_menu_link {
	display: none 
}

#main_content_block, #wrap_all {
	overflow:hidden;
	position:relative;
}

.bottom_fix {
	z-index: 2100;
	position: relative;
	background: $bottom-bg;
	clear: both;
}

@if ($TOUCH) {
	#bottom_tools_main {
		background: $bottom-bg;
	}
}

/* Правая панель */
@if ($PC) {
	#rightbar {
		display: none
	}
	
	@media all and (min-width: 1000px) {
		.rightbar #rightbar {
			width: 30% !important;
			display: block;
			float: right;
			position: relative;
			overflow: hidden;
			min-height: 10px
		}
		
		.rightbar_nav_padding {
			padding: 5px 10px
		}

		.rightbar #widgets_pcontainer_wrap {
			margin-right: 30%;
		}
		
		.rightbar .horiz-menu_search_form {
			position: absolute;
			display: block !important;
			width: 30%;
			float: right;
			top: 0;
			right: 0
		}
		
		.horiz-menu_search_form .search__input {
			background: $header-search-input-bg;
			border: 1px solid transparent;
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			font-size: 14px;
			color: $header-search-input-color;
			line-height: 16px;
		}
		
		.horiz-menu_search_form .fake-placeholder {
			line-height: 16px;
			font-size: 14px
		}
		
		.horiz-menu_search_form .search__input:focus {
			background: $input-focused-bg;
			border: 2px solid $input-focused-bg;
			color: $input-text-color
		}
		
		.rightbar .sidebar-logo {
			margin-bottom: 5px
		}
		
		#rightbar .widgets-group_top {
			margin-top: 10px
		}
		
		.rightbar {
			#page_sidebar .sidebar-loginform, .sidebar__search {
				display: none
			}
			
			#siteContent {
				overflow: hidden;
			}
			
			#navi {
				padding-right: 30%
			}
			
			#wrap_all {
				max-width: 1110px
			}
			
			.sidebar {
				width: 20%
			}
			
			.root__foreground {
				left: 20%
			}
			
			#quick_top_links_menu_link {
				display: table-cell 
			}
		}
	}
}

/* Скролл вверх страницы */
@if ($PC) {
	#scroll_page{
		position:fixed;
		top:0;
		left:0;
		bottom:0;
		overflow:hidden;
	}
	
	#scroll_page_place_wrapper{
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		opacity:0;
	}
	
	#scroll_page_place{
		background:$scrollbar-bg;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		width:100px;
		opacity:0;
	}

	#scroll_page:hover #scroll_page_place_wrapper{
		opacity:1;
	}
	
	#scroll_page_toTop, #scroll_page_toBottom{
		opacity:0;
		position:absolute;
		top:30px;
		left:0;
		z-index:1000;
		width:100px;
		text-align:center;
	}
}

/* Иконки */
@include define-icon("ico_sidebar", "magic");
@include define-icon("ico_sidebar", "tort");
@include define-icon("ico_sidebar", "community");
@include define-icon("ico_sidebar", "diary");
@include define-icon("ico_sidebar", "chat");
@include define-icon("ico_sidebar", "exchange");
@include define-icon("ico_sidebar", "games");
@include define-icon("ico_sidebar", "people");
@include define-icon("ico_sidebar", "forum");
@include define-icon("ico_sidebar", "announcement");
@include define-icon("ico_sidebar", "music");
@include define-icon("ico_sidebar", "love");
@include define-icon("ico_sidebar", "weather");
@include define-icon("ico_sidebar", "mobiles");
@include define-icon("ico_sidebar", "info");
@include define-icon("ico_sidebar", "help");
@include define-icon("ico_sidebar", "auto");
@include define-icon("ico_sidebar", "sport");
@include define-icon("ico_sidebar", "city");
@include define-icon("ico_sidebar", "menu");
@include define-icon("ico_sidebar", "friends");
@include define-icon("ico_sidebar", "exit");
@include define-icon("ico_sidebar", "allservices_gray");
@include define-icon("ico_sidebar", "links");
@include define-icon("ico_sidebar", "files");
@include define-icon("ico_sidebar", "videos");
@include define-icon("ico_sidebar", "photos");
@include define-icon("ico_sidebar", "guestbook");
@include define-icon("ico_sidebar", "history");
@include define-icon("ico_sidebar", "favorites");
@include define-icon("ico_sidebar", "adult");
@include define-icon("ico_sidebar", "theme");
@include define-icon("ico_sidebar", "dot") {
	margin-right: 4px;
}
@include define-icon("ico_sidebar", "dot_active") {
	margin-right: 4px;
}

// @include define-icon("ico_sidebar", "theme_dark");
// @include define-icon("ico_sidebar", "theme_light");
// @include define-icon("ico_sidebar", "theme_system");

@if ($DARK_MODE) {
	@include switch-sprite-color("ico_sidebar", "white");
} @else {
	.sidebar-bg--dark {
		@include switch-sprite-color("ico_sidebar", "white");
	}
}
