@use "Common/Theme" as *;
@use "Common/Utils" as *;
@use "spacepack/build/variables" as *;


.user__info{
	padding-left: 20px;
	overflow: hidden;
}

.table_user .user__info{
	padding-left: 10px;
	word-break: break-all;
}

.user__nick a,
.user__nick .mysite-nick{
	font-weight: bold;
}

.user__ava{
	float: left;
}

.user__ava_medium img{
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

.user__ava_status{
	padding-top: 8px;
	text-align: center;
}

.user__ava_status_online{
	color: $darkgreen-text-color;
}

.user__ava_status_offline{
	color: $disabled-text-color;
}

.user__details{
	color: $secondary-text-color;
	padding-top: 5px;
	word-break: break-word;
}

.user__details_name{
	color: $default-text-color;
}

.bubble,
.user__status{
	background: $bubble-bg;
	color: $default-text-color;
	padding: 9px 36px 9px 9px;
	position: relative;
	word-wrap: break-word;
	&--style-secondary {
		background: $bubble-secondary-bg;
	}
}

.bubble:after,
.user__status:after{
	content: '';
	position: absolute;
	display: block;
	height: 0;
	width: 0;
	bottom: 100%;
	left: 32px;
	border: 8px solid transparent;
	border-bottom-color: $bubble-bg;
}

.bubble,
.user__status-message{
	margin-top: 7px;
	padding: 9px;
}

.user__status-message:after{
	left: 7px;
}

.bubble:after{
	left: 12px;
}

.bubble--no-arrow:after {
	display: none;
}

.user__status-wrap{
	margin-top: 10px;
	position: relative;
}

.user__change-status{
	left: -25px;
	right: -25px;
	top: 50%;
	margin-top: 31px;
}

.user__change-btn{
	position: absolute;
	width: 17px;
	height: 16px;
	padding: 8px;
	top: 50%;
	margin-top: -16px;
	right: 2px;
	display: block;
}
