@use "./Base" as *;

/* Header */
$header-bg:						theme(#7A63D4,	#2d2e30);
$header-link-selected-bg: 		theme(#1c1f22,	#3e3f40);
$header-link-selected-border: 	theme(#57a3ea,	#7e8288);

/* Subnavi */
$subnavi-separator:				theme(#cccccc,	$separator-color);
$subnavi-link-color:			$default-text-color;
$subnavi-link-hover-color:		theme(#6619B8,	#b591eb);
$subnavi-link-hover-border:		theme(#6619B8,	#b591eb);

/* LocationBar */
$location-link-color:			theme(#57a3ea,	#fbb450);
$location-link-hover-color:		theme(#0E3C87,	#c48e43);

/* Music Player */
$music-player-button-bg:		theme(#395387,	#d98e26);
