@use "Common/Theme" as *;
#reply_message .block-btn {
	right: 6px;
	top: 6px;
	margin: 0;
}

#reply_message {
	overflow: initial;
	position: relative
}

.email_ico{
    width:16px;
    height:16px;
}

.myc-button_link:hover .email_ico{
    background-position: 0 0;
}

#check_all{
    margin: auto;
    display: block;
}
