@use "Common/Theme" as *;
@use "Common/Utils" as *;

.new-events {
	display: flex;
	gap: 10px;

	position: absolute;
	left: 50%;
	top: 0;

	transform: translate(-50%, var(--new-events-button-y));
	z-index: 1000;

	visibility: visible;
	opacity: 1;

	transition:
	opacity 0.3s,
	visibility 0.3s,
	bottom 0.3s;

	&--is-sticky {
		position: fixed;
		top: 14px;
		transform: translateX(-50%);
	}

	&--is-hidden {
		visibility: hidden;
		opacity: 0;
	}
}

.new-events-button {
	display: flex;

	gap: 6px;
	align-items: center;
	justify-content: center;

	padding: 8px 11px;
	border-radius: 16px;

	font-weight: 700;
	line-height: 1;

	background: $content-bg;
	color: $accent-blue-color;
	box-shadow: $default-block-shadow;
	border: 1px solid $accent-blue-color;

	cursor: pointer;
	user-select: none;

	visibility: visible;
	opacity: 1;

	transition:
	bottom 0.3s,
	background 0.15s ease,
	color 0.15s ease,
	opacity 0.3s,
	visibility 0.3s,
	bottom 0.3s;

	&[data-count="0"] {
		visibility: hidden;
		opacity: 0;
	}

	&--is-hidden {
		display: none;
	}

	&:hover {
		background: $default-hover-bg;
		color: $accent-blue-hover-color;
	}

	&:active {
		color: $default-text-color;
		background: $default-clicked-bg;
	}
}
