@use "Common/Theme" as *;

.s-property-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.s-property {
	display: block;
	float: left;
	color: $secondary-text-color;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	background: $content-bg;
	max-width: 100%;
	margin: 0;
	border: 1px solid $label-border-color;
	text-overflow: ellipsis;
	box-sizing: border-box;
	padding: 6px 32px 6px 10px;
}
