@use "./Base" as *;

$reaction-chat-outgoing-bg:				theme(#C4E9BE, #303033);
$reaction-chat-outgoing-border:			transparent;
$reaction-chat-outgoing-hover-bg:		theme(#ADDEA6, #353539);
$reaction-chat-outgoing-active-bg:		theme(#94CF8C, #3B3B3F);
$reaction-chat-outgoing-selected-bg:	theme(#78BC6F, #414145);
$reaction-chat-outgoing-selected-text:	#FFFFFF;

$reaction-chat-incoming-bg:				theme(#D1D9E3, #3A3B3E);
$reaction-chat-incoming-border:			transparent;
$reaction-chat-incoming-hover-bg:		theme(#BFCBDB, #3F4144);
$reaction-chat-incoming-active-bg:		theme(#ADBED2, #45474B);
$reaction-chat-incoming-selected-bg:	theme(#94A9C3, #4B4D51);
$reaction-chat-incoming-selected-text:	#FFFFFF;

$reaction-topic-icon:					theme(#404f5e, #cccccc);
$reaction-topic-selected-icon:			theme(#ffffff, #cccccc);
$reaction-topic-bg:						theme(#EBEFF4, #494B4D);
$reaction-topic-border:					transparent;
$reaction-topic-hover-bg:				theme(#DAE1E9, #56595C);
$reaction-topic-active-bg:				theme(#C9D3DF, #595D60);
$reaction-topic-selected-bg:			theme(#B8C5D4, #5F6367);
$reaction-topic-selected-text:			#FFFFFF;

$reaction-pills-bg:						$content-bg;
$reaction-pills-border:					theme(#E1E9F3, $separator-color);
$reaction-pills-hover-bg:				$default-hover-bg;
$reaction-pills-active-bg:				$default-clicked-bg;
$reaction-pills-selected-bg:			theme(#E1E9F3, #555759);
$reaction-pills-selected-text:			$default-text-color;

$reactions-selector-border:						theme(#CDDAE7, #2D2E30);
$reactions-selector-icon:						theme(#A8B9C6, #ABB8C5);

$reactions-selector-item-hover-bg:				theme(#ECF5FD, #424446);
$reactions-selector-item-active-bg:				theme(#B8CDE3, #555759);
$reactions-selector-item-selected-bg:			theme(#DDEBF7, #4B4D4E);

$reactions-mail-button-hover-bg:				$default-hover-bg;
$reactions-mail-button-shadow: 					none;
$reactions-mail-button-text:					$blue-text-color;
$reactions-mail-button-border:					$blue-text-color;

$reactions-mail-button-sticky-hover-bg:			$default-hover-bg;
$reactions-mail-button-sticky-shadow: 			theme(0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(17, 17, 19, 0.25));
$reactions-mail-button-sticky-text:				$blue-text-color;
$reactions-mail-button-sticky-border:			$separator-color;
