@use "Common/Theme" as *;

.icon-used {
	background: $admin-icons-list-used-bg;
}

.icon-not-used {
	background: $admin-icons-list-not-used-bg;
}

.icon_wrap {
	padding: 2px;
	display: inline-block
}

.icon-white .icon_wrap {
	background: $admin-icons-list-white-bg;
}